.contacts_page
	background-color: #e0d7cf

	display: flex
	@media(max-width:1439px)
		//


	@media(max-width:1023px)
		display: block

	&__btn_next
		background-color: #5b8ec8

		width: 115px
		height: 115px

		position: absolute
		bottom: 0
		left: 0

		transition: all .4s ease
		cursor: pointer

		&:hover
			background-color: #5280b4

		img
			transform: rotate(-90deg)

			top: 48px
			left: 48px

			position: absolute

		@media(max-width:1439px)
			display: none
			
	

	&__right
		width: 50%
		height: auto
		margin-top: 281px

		background-color: pink

		@media(max-width:1439px)
			width: 66%
			margin-top: 122px

		@media(max-width:1023px)
			margin-top: 0
			width: 100%
			height: 420px
	
	&__map
		min-height: 68px
		width: 100%
		height: 100%

		position: relative

	&__left
		width: 50%
		display: flex
		flex-wrap: wrap

		@media(max-width:1439px)
			width: 34%

		@media(max-width:1023px)
			width: 100%
	

	&__title
		h1
			font-size: 60px

			@media(max-width:1439px)
				font-size: 40px

			@media(max-width:767px)
				font-size: 24px	

		padding: 233px 0 246px 117px
		width: 100%
		
		background-color: #f4f6f6

		@media(max-width:1439px)
			padding-top: 197px
			padding-bottom: 137px
			padding-left: 104px	

		@media(max-width:1023px)
			padding-top: 214px
			padding-bottom: 176px	

		@media(max-width:767px)
			padding-top: 106px
			padding-bottom: 0px
			padding-left: 35px






.info_contacts
	display: flex

	width: 100%

	&__item
		width: 50%
		padding: 120px 0 106px 0

		@media(max-width:1439px)
			padding: 31px 0 0 34px
			width: auto

		@media(max-width:1023px)
			width: 50%

			box-sizing: border-box

		

	&__adress
		background-color: #dcdfe2

		padding-left: 120px;


		@media(max-width:1439px)
			padding-left: 34px
			height: 195px

			background-color: #fff

		@media(max-width:1023px)
			width: 50%	
			padding-left: 105px
			height: 177px

		@media(max-width:767px)
			width: 100%	
			padding-left: 35px

			background-color: #f4f6f6



	&__chief
		background-color: #fff

		padding-left: 110px


		@media(max-width:1439px)
			padding-left: 34px
			height: 191px

			background-color: #dcdfe2
			
		@media(max-width:1023px)
			width: 50%
			padding-left: 120px
			height: 177px

			box-sizing: border-box

		@media(max-width:767px)
			width: 100%	
			padding-left: 35px

			background-color: #dcdfe2



	@media(max-width:1439px)
		display: block

	@media(max-width:1023px)	
		display: flex

	@media(max-width:767px)
		display: block
		

	a
		display: block
		b
	.info_contacts__mail
		border-bottom: 1px solid  #28282b

		display: inline-block

		letter-spacing: 0.5px
		line-height: 1.2

		width: 140px

	&__title
		font-size: 12px
		color: #28282b
		font-weight: bold
		letter-spacing: 0.5px
		

	&__text
		font-size: 12px
		width: 190px
		line-height: 1.83
		color: #28282b
		margin-top: 12px
		margin-bottom: 20px

		@media(max-width:1439px)
			margin-top: 10px
			margin-bottom: 18px
			width: auto











