.contacts_page
	background-color: #e0d7cf

	display: flex
	
	@media(max-width:1023px)
		display: block

	&__left
		width: 50%
		display: flex
		flex-wrap: wrap

		@media(max-width:1439px)
			width: 34%

		@media(max-width:1023px)
			width: 100%
	

	&__title
		h1
			font-size: 60px

			@media(max-width:1439px)
				font-size: 40px

		padding-top: 233px
		padding-bottom: 246px
		padding-left: 117px
		width: 100%
		
		background-color: #f4f6f6

		@media(max-width:1439px)
			padding-top: 197px
			padding-left: 30px
			padding-bottom: 137px

		@media(max-width:1439px)
			padding-left: 104px	

	&__adress	
		background-color: #dcdfe2
		
		width: 50%

		@media(max-width:1439px)
			width: 100%

		@media(max-width:1023px)
			width: 50%	
		
	
	&__chief
		background-color: #fff

		width: 50%

		@media(max-width:1439px)
			width: 100%

		@media(max-width:1023px)
			width: 50%	


	&__right
		width: 50%
		height: auto
		margin-top: 281px

		background-color: pink

		@media(max-width:1439px)
			width: 100%
	
	&__map
		min-height: 68px
		width: 100%


.info_contacts
	padding-top: 117px
	padding-bottom: 106px

	@media(max-width:1439px)
		padding-top: 31px
		padding-left: 34px

	a
		display: block
	

	&__title
		font-size: 12px
		color: #28282b
		font-weight: bold

	&__text
		font-size: 12px
		width: 190px
		line-height: 1.83
		color: #28282b



.left__bottom
	display: flex

	width: 100%

	@media(max-width:1439px)
		flex-wrap: wrap

	@media(max-width:1023px)
		flex-wrap: nowrap

.div
	padding-left: 110px

	@media(max-width:1439px)
		padding: 0










