.have_quastion
	padding-top: 63px
	padding-bottom: 178px

	&__title
		font-size: 40px
		line-height: 1.13
		height: 161px
		margin-bottom: 0

		color: #28282b

		display: flex
		justify-content: center
		flex-direction: column

	&__field_input
		padding-bottom: 36px

	&__input
		height: 40px
		width: 251px
		padding-left: 29px
		margin-left: 45px


		border: 1px solid #dcdfe2
		box-sizing: border-box
		font-size: 14px

		background-color: #fff
		color: rgba(40,40,43,.5)

	&__input:first-child
		margin-left: 0

	&__btn
		width: 242px
		height: 60px
		padding-left: 60px
		font-size: 16px

		background-color: #5b8ec8
		color: #fff

		text-align: center
		cursor: pointer
		position: relative

		display: flex

		&:after
			content: ""
			display: block
			height: 20px
			width: 20px
			padding-top: 4px
			top: 5px
			left: 0
			background: url('../../static/img/icons/white-arr.svg') no-repeat center center
			








