.search_section
	padding-bottom: 0

	@media(max-width:1439px)
		.owl-carousel
			position: static

		.simple_slider__text
			font-size: 16px

	@media(max-width:1023px)
		.owl-carousel
			width: 90%

		.owl-carousel .owl-stage-outer
			overflow: visible	

	@media(max-width:767px)
		.owl-carousel
			width: 60%

		.owl-carousel .owl-stage-outer
			overflow: visible

		.simple_slider__text
			font-size: 14px

		.simple_slider
			padding-left: 35px

	@media(max-width:460px)
		.owl-carousel
			width: 90%

	.owl-carousel .owl-item img
		object-fit: cover



		//
.search_section_news
	padding-top: 25px

	@media(max-width:1439px)
		padding-top: 47px

.search_section_other
	padding-bottom: 206px

	@media(max-width:1439px)
		padding-bottom: 115px

	@media(max-width:1023px)
		padding-bottom: 170px

	@media(max-width:767px)
		padding-bottom: 115px

.search_slider

	&__item
		width: 227px

		.simple_slider__img
			width: 227px
			height: 261px

		.simple_slider__text
			font-weight: bold
			
			padding: 30px 0 15px 0

	&__text
		margin-top: 0

		font-size: 14px
		line-height: 1.71

		@media(max-width:1439px)
			font-size: 12px

	&__date
		margin: 21px 0 0 0

		font-size: 12px

		color: #28282b

	&__date + .simple_slider__text
			padding-top: 15px

	&__item_decor
		width: 227px
		height: 261px

		position: relative
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: flex-end

		&_left

			bottom: 0
			left: 0

			width: 50px
			height: 217px


		&_right
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			flex-direction: column

			height: 100%
			width: 177px

		&_head
			height: 88px
			width: 100%

			flex: 1

		&_middle
			background-color: #f4f6f6

			width: 100%

			flex: 2

			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			justify-content: center
			align-items: center
			align-content: center

			img.item_decor_img
				width: auto
				height: auto



.decor-top
	.search_slider__item_decor_head
		background-color: #deccde
	.search_slider__item_decor_left
		background-color: #b79dbd

.decor-box
	.search_slider__item_decor_head
		background-color: #f5ecb0
	.search_slider__item_decor_left
		background-color: #f0cb88	
	


.search_title
	position: relative
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex

	justify-content: space-between

	font-size: 16px

	padding-top: 0
	margin-top: 45px
	padding-bottom: 30px

	@media(max-width:1439px)
		padding-bottom: 25px
		margin-top: 25px

	p
		margin: 0
		padding: 0

.search_title_counter
	font-size: 12px

	position: relative
	left: 2px

.search_title_more
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	position: relative

	cursor: pointer

	top: 5px

	transition: all .5s ease

	&:hover
		color: #5280b4

		&::before
			opacity: 1
		&::after
			opacity: 0

		@media(max-width:1023px)
			color: inherit

			&::before
				opacity: 0
			&::after
				opacity: 1



	@media(max-width:767px)
		font-size: 12px

	&::after,&::before
		transition: all .5s ease

		content: ""
		display: block
		position: relative

		height: 28px
		width: 16px
		margin: -14px 0 0 13px

		top: 50%
		left: 0

		background: url('../../static/img/icons/black-arr.svg') no-repeat center center

		@media(max-width:767px)
			margin-top: -16px

	&::before
		position: absolute
		
		left: initial
		right: 0
		
		opacity: 0

		background: url('../../static/img/icons/blue-more-arr.svg') no-repeat center center

		@media(max-width:767px)
			margin-top: -16px