// description:
// adaptive points: 1439 1023 767 (~320)

// common undefault

html,
body
	position: relative

	max-width: 1440px
	margin: 0 auto

	font-family: 'avantgardegothicc'
	color: $blackTxt

	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0)

a
	display: inline-block

	color: $blackTxt
	text-decoration: none

ul,
li
	list-style: none
	text-align: left

	margin: 0
	padding: 0

input,
textarea,
button
	all: unset

// sizes

.max_width
	position: relative

	max-width: 1200px
	margin: 0 auto
	padding: 0 30px

	@media(max-width:1439px)
		max-width: 100%

	@media(max-width:1023px)
		padding: 0 24px

// fonts

.title
	margin: 0

	font-family: "avantgardegothicc"
	font-weight: bold

.section_title
	display: inline-block

	font-size: 40px
	line-height: 45px

	@media(max-width:1439px)
		font-size: 30px

	@media(max-width:1023px)
		padding-left: 80px
		display: block

	@media(max-width:767px)
		padding-left: 0

.bold
	font-weight: bold

// animations

.trs
	transition: all ease .4s

// responsive

.desktop_max
	@media(max-width:1439px)
		display: none

.desktop
	@media(max-width:1023px)
		display: none

.desktop_small
	display: none
	@media(max-width:1439px)
		display: block

.tablet
	display: none
	@media(max-width:1023px)
		display: block

.mob
	display: none
	@media(max-width:767px)
		display: block

.unmob
	display: block
	@media(max-width:767px)
		display: none

// interactive

.rnd_btn
	border: 1px solid  #5b8ec8
	border-radius: 16px
	padding: 10px 14px

.btn_w_arr
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex

	justify-content: center
	align-items: center

	font-size: 18px
	color: $white
	font-weight: bold

	position: relative

	&::after
		content: ''
		position: static
		display: inline-block

		width: 32px
		height: 32px
		border: 2px solid  $white
		border-radius: 50%
		margin-left: 10px

		background: url('../../static/img/icons/white-arr.svg') no-repeat
		background-position: center  center

	&:hover
		.hover_bl
			opacity: 1

			@media(max-width:1023px)
				opacity: 0


.hamburger
	position: relative

	&-box
		position: relative

		display: inline-block

		width: 15px
		height: 16px

	&-inner
		transition-timing-function: cubic-bezier(.55, .055, .675, .19)
		transition-duration: 75ms
	    top: 50%
    	display: block
		position: absolute
		width: 15px
		height: 2px
		transition-timing-function: ease
		transition-duration: .15s
		transition-property: transform, width
		border-radius: 4px
		background-color: #fff

		&::after,
		&::before
			display: block
			content: ''
			position: absolute
			width: 15px
			height: 2px
			transition-timing-function: ease
			transition-duration: .15s
			transition-property: transform, width
			border-radius: 4px
			background-color: #fff

		&::after
			bottom: -5px

		&::before
			top: -5px

	&.active

		.hamburger-inner
			transition-delay: .12s
			transition-timing-function: cubic-bezier(.215,.61,.355,1)
			transform: rotate(45deg)

			&::before
				top: 0
				transition: top 75ms ease,opacity 75ms ease .12s
				opacity: 0

			&::after
				bottom: 0
				transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s
				transform: rotate(-90deg)

		&:hover
			.hamburger-inner
				width: 15px

				&::after
					width: 15px

	&:hover

		.hamburger-inner
			width: 10px
			@media(max-width:1023px)
				width: 15px

			&::after
				width: 5px
				@media(max-width:1023px)
					width: 15px

.hover_bl
	position: absolute
	opacity: 0

	left: 0
	right: 0
	bottom: 0
	top: 0

	background-color: rgba(0, 0, 0, .1)

	transition: all ease .4s

	@media(max-width:1023px)
		display: none

.css_arr
	position: relative

	&::after
		position: absolute
		content: ''

		right: 0
		top: 50%
		transform: translateY(-50%) rotate(-45deg)
		width: 6px
		height: 6px

		transition: all ease .4s

		border-left: 2px solid $blackTxt
		border-bottom: 2px solid $blackTxt

.checkbox
	position: absolute
	z-index: -10

	width: 0
	height: 0

	opacity: 0

.label_checkbox
	position: relative

	padding-left: 30px
	
	cursor: pointer

	&::before
		content: ''
		position: absolute

		left: 0
		top: 50%
		transform: translateY(-50%)
		width: 15px
		height: 15px

		border: 1px solid  $gray2

		@media(max-width:1439px)
			border-color: $blackTxt

	&::after
		content: ''
		position: absolute

		width: 7px
		height: 7px
		left: 5px
		top: 50%
		transform: translateY(-50%)

		background-color: $blackTxt
		opacity: 0

		transition: all ease .4s

.checkbox:checked + .label_checkbox

	&::after
		opacity: 1

.ui-slider-handle
	border: none !important
	border-radius: 50%

	background-color: $blackTxt !important

	width: 21px !important
	height: 21px !important
	top: -10px !important

	outline: none
	cursor: pointer !important

.ui-widget.ui-widget-content
	height: 1px !important

	border: none !important	

	background-color: $gray2

	@media(max-width:1439px)
		background-color: $gray6

.ui-slider-range
	background-color: $blackTxt

.arrow_btn
	width: 115px
	height: 115px
	background-color: $main-blue
	background-image: url('../../static/img/icons/arr-long-white.svg')
	background-repeat: no-repeat
	background-position: 50% 50%

	&:hover
		.hover_bl
			opacity: 1


// static

.lanes
	position: absolute
	top: 0
	bottom: 0
	width: 1200px
	left: 50%
	transform: translateX(-50%)
	@media(max-width:1439px)
		position: static
		transform: none

.vert_lane
	position: absolute
	opacity: .1
	z-index: -1

	width: 1px
	height: 100%
	top: 0
	left: 0

	background-color: $blackTxt

	@media(max-width:1023px)
		display: none

	@media(max-width:1439px)
		left: 30px

	&:nth-child(2)
		left: 25%

		@media(max-width:1439px)
			left: 34%

	&:nth-child(3)
		left: 50%

		@media(max-width:1439px)
			left: 66%

	&:nth-child(4)
		left: 75%

		@media(max-width:1439px)
			right: 30px
			left: auto

	&:last-child
		left: auto
		right: 0

		@media(max-width:1439px)
			display: none

.relative_wr
	position: relative

// placements
// absolute X center
.AXC
	left: 50%
	transform: translateX(-50%)

// absolute Y center
.AYC
	top: 50%
	transform: translateY(-50%)

// absolute center
.AC
	left: 50%
	top: 50%
	transform: translate(-50%, -50%)

// text center
.TC
	text-align: center

// block center
.BC
	margin: 0 auto

// sliders

.slider_T1

	.owl-nav
		position: absolute

		button.owl-prev,
		button.owl-next
			width: 20px
			padding: 10px !important
			background-image: url('../../static/img/icons/arr-long-black.svg') !important
			background-repeat: no-repeat !important
			background-position: center center !important

		button.owl-next
			transform: scaleX(-1)

.slider_T2
	.owl-nav

		button.owl-prev,
		button.owl-next
			background-image: url('../../static/img/icons/arr-long-black.svg') !important
			background-repeat: no-repeat !important
			background-position: 90% center !important

			&::after
				position: absolute
				content: ''

				top: 0
				left: 0
				right: 0
				bottom: 0

				background-color: $gray3

				opacity: 0

				transition: all ease .4s

			&:hover

				&::after
					opacity: 1

					@media(max-width:1023px)
						opacity: 0

		button.owl-next
			transform: scaleX(-1)

	.owl

		&-stage-outer,
		&-stage,
		&-item
			height: 100%

// libraries
// owl
.owl

	&-carousel
		display: block

	&-nav

		span
			opacity: 0

