// common undefault

html,
body
	max-width: 1440px
	margin: 0 auto
	height: 100%
	position: relative
	color: #28282b

a
	display: inline-block
	color: #28282b
	text-decoration: none

// sizes

.max_width
	max-width: 1200px
	margin: 0 auto
	position: relative
	padding: 0 30px

// fonts

.title
	margin: 0

// animations

.trs
	transition: all ease .4s

// responsive

.tablet
	display: none
	@media(max-width:1023px)
		display: block

.mob
	display: none
	@media(max-width:767px)
		display: block

// interactive

.rnd_btn
	border: 1px solid  #5b8ec8
	border-radius: 16px
	// height: 30px
	// line-height: 30px
	padding: 10px 14px

.btn_w_arr
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: center
	align-items: center
	font-size: 18px
	color: $white
	font-weight: bold

	&::after
		content: ''
		position: static
		width: 32px
		height: 32px
		display: inline-block
		border: 2px solid  $white
		border-radius: 50%
		margin-left: 10px
		background: url('../../static/img/icons/white-arr.svg') no-repeat
		background-position: center  center

// placements
// absolute X center
.AXC
	left: 50%
	transform: translateX(-50%)

// absolute Y center
.AYC
	top: 50%
	transform: translateY(-50%)

// absolute center
.AC
	left: 50%
	top: 50%
	transform: translate(-50%, -50%)

// text center
.TC
	text-align: center

// block center
.BC
	margin: 0 auto