// colors

// background
$main-blue: #5b8ec8
$yellow: #f5ecb0
$orange: #f0cb88
$white: #ffffff
$gray: #f4f6f6
$gray2: #dcdfe2
$gray3: rgba(40, 40, 43, .1)
$gray5: rgba(40, 40, 43, .5)
$gray6: rgba(40, 40, 43, .3)
$gray4: #e0d7cf

// text 
$blackTxt: #28282b