extends ../layouts/pages

block append head
	block title
		- var title='About';

block content	
	include ../blocks/lanes
	include ../blocks/simple_title_3
	include ../blocks/about_text	
	include ../blocks/footer
	