extends ../layouts/pages

block append head
	block title
		- var title='Just build it';

block content	
	include ../blocks/lanes
	include ../blocks/simple_title_5
	include ../blocks/conf_wr
	include ../blocks/havequestion
	include ../blocks/footer
	