extends ../layouts/pages

block append head
	block title
		- var title='News';

block content	
	include ../blocks/lanes
	include ../blocks/contacts
	include ../blocks/havequestion
	include ../blocks/footer
	