extends ../layouts/pages

block append head
	block title
		- var title='News';

block content	
	include ../blocks/lanes
	include ../blocks/simple_title_cooperation
	include ../blocks/cooperation_text
	include ../blocks/cooperation_slider_head
	include ../blocks/footer
	