extends ../layouts/pages

block append head
	block title
		- var title='VVUO';

block content	
	include ../blocks/lanes
	include ../blocks/main_slider
	include ../blocks/catalog
	include ../blocks/supply
	include ../blocks/advantages
	include ../blocks/news_main
	include ../blocks/clients
	include ../blocks/footer
	