extends ../layouts/pages

block append head
	block title
		- var title='VVUO';

block content
	.lanes
		.lanes__vert.vert_lane
		.lanes__vert.vert_lane
		.lanes__vert.vert_lane
		.lanes__vert.vert_lane
		.lanes__vert.vert_lane
	include ../blocks/main_slider
	include ../blocks/catalog
	