extends ../layouts/pages

block append head
	block title
		- var title='VVUO';

block content
	.lanes
		.lanes__vert.vert_lane
		.lanes__vert.vert_lane
		.lanes__vert.vert_lane
		.lanes__vert.vert_lane
		.lanes__vert.vert_lane
	include ../blocks/main_slider
	include ../blocks/catalog
	include ../blocks/supply
	include ../blocks/advantages
	include ../blocks/news_main
	include ../blocks/clients
	include ../blocks/footer
	