extends ../layouts/pages

block append head
	block title
		- var title='WorkSpace';

block content	
	include ../blocks/lanes
	include ../blocks/complex_title_2
	include ../blocks/complex_slider
	include ../blocks/lab_text
	include ../blocks/360_photo
	include ../blocks/simple_slider_2
	include ../blocks/havequestion
	include ../blocks/footer
	