extends ../layouts/pages

block append head
	block title
		- var title='WorkSpace';

block content	
	include ../blocks/lanes
	include ../blocks/complex_title
	include ../blocks/grid_block
	include ../blocks/footer
	