extends ../layouts/pages

block append head
	block title
		- var title='WorkSpace';

block content	
	include ../blocks/lanes
	include ../blocks/complex_title
	include ../blocks/grid_block
	include ../blocks/360_photo
	include ../blocks/simple_slider
	include ../blocks/havequestion
	include ../blocks/footer
	include ../blocks/pop_ups
	