extends ../layouts/pages

block append head
	block title
		- var title='Shop';

block content	
	include ../blocks/lanes
	include ../blocks/simple_title_4
	include ../blocks/simple_slider
	include ../blocks/shop_catalog
	include ../blocks/footer
	