extends ../layouts/pages

block append head
	block title
		- var title='Supplier';

block content	
	include ../blocks/lanes
	include ../blocks/simple_title_6
	include ../blocks/supplier
	include ../blocks/footer
	include ../blocks/pop_ups
	