// @import url('/static/fonts/ArchivoBlack-Regular.ttf')
// @import url('/static/fonts/avantgardegothicc.otf')
// @import url('/static/fonts/avantgardegothicc-bold.otf')

@font-face 
  font-family: 'avantgardegothicc';
  src: url('/static/fonts/avantgardegothicc.otf')
  font-weight: normal;
  font-style: normal;

@font-face 
  font-family: 'avantgardegothicc';
  src: url('/static/fonts/avantgardegothicc-bold.otf')
  font-weight: bold;
  font-style: normal;

@font-face 
  font-family: 'ArchivoBlack';
  src: url('/static/fonts/ArchivoBlack.otf')
  font-weight: normal;
  font-style: normal;

@font-face 
  font-family: 'hirakakustd';
  src: url('/static/fonts/hirakakustd-w8.otf')
  font-weight: normal;
  font-style: normal;

// libr
// @import "path/to/hamburgers"

@import 'helper/ui'
@import 'helper/variables'
@import 'helper/global'

// blocks

// main page
@import 'blocks/forms'
@import 'blocks/header'
@import 'blocks/main_slider'
@import 'blocks/catalog'
@import 'blocks/grid'
@import 'blocks/slider'
@import 'blocks/footer'
// news
@import 'blocks/simple_title'
@import 'blocks/text'
// 404
@import 'blocks/simple'
@import 'blocks/contacts'
// @import 'blocks/havequestion'

// cooperation
@import 'blocks/simple_title_cooperation'
@import 'blocks/cooperation_text'
@import 'blocks/cooperation_slider'
// provider
@import 'blocks/provider'

