section.big_image
	//- link(rel="stylesheet", href="https://cdn.pannellum.org/2.4/pannellum.css")
	//- script(type="text/javascript", src="https://cdn.pannellum.org/2.4/pannellum.js")
	//- #panorama(style="width: 500px; height: 500px")
	//- script pannellum.viewer('panorama', {    "type": "equirectangular", "autoLoad": true, "showControls": false,  "panorama": "https://pannellum.org/images/alma.jpg"});
	//- .big_image__360_wr
	.big_image__wr2.owl-carousel.slider_T2
		img(src="static/img/pictures/image6.jpg", alt="")
		img(src="static/img/pictures/image6.jpg", alt="")
	.max_width.big_image__wr
		.big_image__bot
			a(href="/constructor").big_image__btn.btn_w_arr Собери свой кабинет
				.hover_bl
			p.big_image__text Воспользуйтесь конфигуратором и создайте свое рабочее место
		//- a(href="#").big_image__tog.big_image__tog1.trs
		//- 	img(src="static/img/icons/360.svg", alt="").big_image__icon1.big_image__icon.trs
		//- 	img(src="static/img/icons/360-blue.svg", alt="").big_image__icon1.big_image__icon.big_image__icon-hov.trs
		//- a(href="#").big_image__tog.big_image__tog2.trs
		//- 	img(src="static/img/icons/gallery.svg", alt="").big_image__icon2.big_image__icon