section.simple_viwe.error.max_width
	.lanes.error__line
		.lanes__vert.vert_lane
		.lanes__vert.vert_lane
		.lanes__vert.vert_lane
		.lanes__vert.vert_lane
		.lanes__vert.vert_lane
	.simple_viwe__right_side
		.num_error
			img(src="../../../static/img/404/404.svg" alt="").num_error__number
	.simple_viwe__left_side
		h1.simple_viwe__title Tакой страницы нет
		.wrap_text 
			p.simple_viwe__text Вы можете вернуться на 
				a(href="/") главную 
			p.simple_viwe__text или изучить наш 
				a(href="#") каталог