section.about_grid.max_width
	.about_grid__wr1
		ul.about_grid__list.list1
			li.list1__item
				img(src="static/img/icons/car.svg", alt="").list1__img
				p.list1__title_item Лучшие поставщики
				p.list1__text мы собрали лучших поставщиков учебного оборудования
			li.list1__item
				img(src="static/img/icons/constructor.svg", alt="").list1__img
				p.list1__title_item Удобный конструктор
				p.list1__text вы сами собираете оборудование или корректируете уже готовую конфигурацию в удобном конструкторе
			li.list1__item
				img(src="static/img/icons/suqare.svg", alt="").list1__img
				p.list1__title_item Полный комплект
				p.list1__text получаете полностью оборудованный учебный класс или лабораторию без лишних хлопот
	.about_grid__wr2
		h3.about_grid__wr2_title.title.section_title Руководство
		.about_grid__wr2_bg
		ul.about_grid__list.list2
			li.list2__item
				img(src="static/img/pictures/photo1.jpg", alt="").list2__img
				p.list2__title_item Кунцев Юрий Валерьевич
				p.list2__text руководитель проектного офиса
			li.list2__item
				img(src="static/img/pictures/photo2.jpg", alt="").list2__img
				p.list2__title_item Кунцев Юрий Валерьевич
				p.list2__text руководитель проектного офиса
	.about_grid__wr3
		img(src="static/img/pictures/image2.jpg", alt="", height="100%").about_grid__img
		.about_grid__column
			.about_grid__bg
			h3.title.section_title.about_grid__title Каталог продукции
			p.about_grid__text Задача организации, в особенности
				| же рамки и место обучения кадров
				| требуют определения и уточнения
				| системы обучения кадров, соответствует
				| насущным потребностям. 
			a(href="/catalog").btn.about_grid__btn Перейти в каталог
				.hover_bl