section.about_text.max_width
	img(src="static/img/pictures/image1.jpg", alt="", height="100%").about_text__img
	.about_text__wr
		.about_text__top
			.about_text__bg
			p.about_text__item.about_text__item-top С 20 по 22 марта в Санкт-Петербурге на одной площадке прошли Петербургская техническая ярмарка и выставка «Высокие технологии. Инновации. Инвестиции» (HI-TECH). Эти мероприятия уже давно стали традиционным местом встречи ведущих российских и зарубежных промышленных и научных предприятий.
		.about_text__columns
			.about_text__column.about_text__column-left
				p.about_text__item Цифровая лаборатория по физике представляет собой набор элементов и датчиков, на базе которых поочередно собираются установки для выполнения работ по изучению законов механики, молекулярной физики, электричества, оптики и атомной физики.
				p.about_text__item Измерение физических величин осуществляется с помощью цифровых датчиков, которые подключаются к USB-порту компьютера.
				p.about_text__item Питание электрических цепей постоянным током осуществляется от USB-порта компьютера с помощью специального переходника с защитным резистором.
			.about_text__column.about_text__column-right
				p.about_text__item Питание электрических цепей постоянным током осуществляется от USB-порта компьютера с помощью специального переходника с защитным резистором.
				p.about_text__item Питание электрических цепей переменным током осуществляется от аудиовыхода компьютера с помощью специального переходника с защитным резистором.