section.grid.advantages.max_width
	.advantages__left
		h3.advantages__title.title.section_title Наши преимущества
		p.advantages__text Задача организации, в особенности же рамки и место обучения кадров требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям.
		a(href="#").btn_w_arr.advantages__link Подробнее 

	.advantages__right
		.advantages__column
			.advantages__item
				img(src="static/img/icons/car.svg", alt="").advantages__img
				p.advantages__desc Комплексная поставка оборудования со склада в Москве
			.advantages__item
				img(src="static/img/icons/time.svg", alt="").advantages__img
				p.advantages__desc Кротчайшие сроки комплектации заказа
		.advantages__column
			.advantages__item
				img(src="static/img/icons/call.svg", alt="").advantages__img
				p.advantages__desc Квалифицированная поддержка, консультации по подбору оборудования
			.advantages__item
				img(src="static/img/icons/flag.svg", alt="").advantages__img
				p.advantages__desc Доставка товара по всей Росcии