section.catalog.max_width
	h3.section_title.title.catalog__title Каталог
	form(action="").catalog__form.search_form
		label(for="").input_decore_label.search_form__input.input.input_decore_label_catalog
			input(type="text", placeholder="").input_decore.input_decore_catalog.catalog__input_decore
			span.label_text Например, спектрометр для школы
			span.border
			span.search_form__search_icon
		button.search_form__btn.btn_w_arr Найти
	.catalog__wr.catalog_wr
		a(href="#").catalog_wr__item
			h7.catalog_wr__title.title Для детских садов
			.catalog_wr__text Оборудование и лаборатории для обучения детей дошкольного и младшего школьного возраста
			span.catalog_wr__icon
				img(src="static/img/icons/yell-arr.svg", alt="").catalog_wr__arrow.AC
				img(src="static/img/icons/white-arr.svg", alt="").catalog_wr__arrow.AC.hov_off
			.catalog_wr__wrap_hover.catalog_wr__wrap_hover_1
				img(src="static/img/icons/hover/h1/detsad-icon.svg", alt="").catalog_wr__image
				img(src="static/img/icons/hover/h1/glow1.svg", alt="").catalog_wr__image.catalog_wr__bottom_side
				img(src="static/img/icons/hover/h1/blicks.svg", alt="").catalog_wr__image.catalog_wr__shine
		a(href="#").catalog_wr__item
			h7.catalog_wr__title.title Для школ
			.catalog_wr__text Оборудование и лаборатории для обучения детей дошкольного и младшего школьного возраста
			span.catalog_wr__icon
				img(src="static/img/icons/gr-arr.svg", alt="").catalog_wr__arrow.AC
				img(src="static/img/icons/white-arr.svg", alt="").catalog_wr__arrow.AC.hov_off
			.catalog_wr__wrap_hover.catalog_wr__wrap_hover_2
				img(src="static/img/icons/hover/h2/cat-icon-2.svg", alt="").catalog_wr__image
				img(src="static/img/icons/hover/h2/glow.svg", alt="").catalog_wr__image.catalog_wr__bottom_side
				img(src="static/img/icons/hover/h2/blicks.svg", alt="").catalog_wr__image.catalog_wr__shine
		a(href="#").catalog_wr__item
			h7.catalog_wr__title.title Для ВУЗов
			.catalog_wr__text Оборудование и лаборатории для обучения детей дошкольного и младшего школьного возраста
			span.catalog_wr__icon
				img(src="static/img/icons/blue-arr.svg", alt="").catalog_wr__arrow.AC
				img(src="static/img/icons/white-arr.svg", alt="").catalog_wr__arrow.AC.hov_off
			.catalog_wr__wrap_hover.catalog_wr__wrap_hover_3
				img(src="static/img/icons/hover/h3/cat-icon3.svg", alt="").catalog_wr__image
				img(src="static/img/icons/hover/h3/glow.svg", alt="").catalog_wr__image.catalog_wr__bottom_side
				img(src="static/img/icons/hover/h3/blicks.svg", alt="").catalog_wr__image.catalog_wr__shine
		a(href="#").catalog_wr__item
			h7.catalog_wr__title.title Доп. образование
			.catalog_wr__text Оборудование и лаборатории для обучения детей дошкольного и младшего школьного возраста
			span.catalog_wr__icon
				img(src="static/img/icons/viol-arr.svg", alt="").catalog_wr__arrow.AC
				img(src="static/img/icons/white-arr.svg", alt="").catalog_wr__arrow.AC.hov_off
			.catalog_wr__wrap_hover.catalog_wr__wrap_hover_4
				img(src="static/img/icons/hover/h4/cat-icon-4.svg", alt="").catalog_wr__image
				img(src="static/img/icons/hover/h4/glow.svg", alt="").catalog_wr__image.catalog_wr__bottom_side
				img(src="static/img/icons/hover/h4/blicks.svg", alt="").catalog_wr__image.catalog_wr__shine
	.catalog_open_wr
		.catalog_open_wr__item
			a(href="#").btn_w_arr.catalog_open_wr__link Коридоры и рекреации
			a(href="#").btn_w_arr.catalog_open_wr__link Входная зона  и гардероб
			a(href="#").btn_w_arr.catalog_open_wr__link Спортивный комплекс
			a(href="#").btn_w_arr.catalog_open_wr__link Актовый зал
			a(href="#").btn_w_arr.catalog_open_wr__link Столовая
			a(href="#").btn_w_arr.catalog_open_wr__link Библиотека
		.catalog_open_wr__item
			a(href="#").btn_w_arr.catalog_open_wr__link Коридоры и рекреации
			a(href="#").btn_w_arr.catalog_open_wr__link Входная зона  и гардероб
			a(href="#").btn_w_arr.catalog_open_wr__link Спортивный комплекс
			a(href="#").btn_w_arr.catalog_open_wr__link Актовый зал
			a(href="#").btn_w_arr.catalog_open_wr__link Столовая
			a(href="#").btn_w_arr.catalog_open_wr__link Библиотека
		.catalog_open_wr__item
			a(href="#").btn_w_arr.catalog_open_wr__link Коридоры и рекреации
			a(href="#").btn_w_arr.catalog_open_wr__link Входная зона  и гардероб
			a(href="#").btn_w_arr.catalog_open_wr__link Спортивный комплекс
			a(href="#").btn_w_arr.catalog_open_wr__link Актовый зал
			a(href="#").btn_w_arr.catalog_open_wr__link Столовая
			a(href="#").btn_w_arr.catalog_open_wr__link Библиотека
		.catalog_open_wr__item
			a(href="#").btn_w_arr.catalog_open_wr__link Коридоры и рекреации
			a(href="#").btn_w_arr.catalog_open_wr__link Входная зона  и гардероб
			a(href="#").btn_w_arr.catalog_open_wr__link Спортивный комплекс
			a(href="#").btn_w_arr.catalog_open_wr__link Актовый зал
			a(href="#").btn_w_arr.catalog_open_wr__link Столовая
			a(href="#").btn_w_arr.catalog_open_wr__link Библиотека
	.catalog_bot
		a(href="#", data-pop_up=".pop_up_equipment").catalog_bot__btn.btn_w_arr.popUpCall Подобрать оборудование
		p.catalog_bot__text Укажите бюджет и специализиции, и мы сами предложим решение, подходящее для вас.