section.catalog
	h3.section_title.title.catalog__title Каталог
	form(action="").catalog__form.search_form
		input(type="text", placeholder="Например, спектрометр для школы").search_form__input.input
		button.search_form__btn Найти
	.catalog__wr.catalog_wr
		a(href="#").catalog_wr__item
			h7.catalog_wr__title.title Для детских садов
			.catalog_wr__text Оборудование и лаборатории для обучения детей дошкольного и младшего школьного возраста
			span.catalog_wr__icon
			img(src="static/img/icons/cat-icon-1.svg", alt="").catalog_wr__image
		a(href="#").catalog_wr__item
			h7.catalog_wr__title.title Для детских садов
			.catalog_wr__text Оборудование и лаборатории для обучения детей дошкольного и младшего школьного возраста
			span.catalog_wr__icon
			img(src="static/img/icons/cat-icon-2.svg", alt="").catalog_wr__image
		a(href="#").catalog_wr__item
			h7.catalog_wr__title.title Для детских садов
			.catalog_wr__text Оборудование и лаборатории для обучения детей дошкольного и младшего школьного возраста
			span.catalog_wr__icon
			img(src="static/img/icons/cat-icon-3.svg", alt="").catalog_wr__image
		a(href="#").catalog_wr__item
			h7.catalog_wr__title.title Для детских садов
			.catalog_wr__text Оборудование и лаборатории для обучения детей дошкольного и младшего школьного возраста
			span.catalog_wr__icon
			img(src="static/img/icons/cat-icon-4.svg", alt="").catalog_wr__image