section.catalog.max_width
	h3.section_title.title.catalog__title Каталог
	form(action="").catalog__form.search_form
		input(type="text", placeholder="Например, спектрометр для школы").search_form__input.input
		button.search_form__btn.btn_w_arr Найти
	.catalog__wr.catalog_wr
		a(href="#").catalog_wr__item
			h7.catalog_wr__title.title Для детских садов
			.catalog_wr__text Оборудование и лаборатории для обучения детей дошкольного и младшего школьного возраста
			span.catalog_wr__icon
				img(src="static/img/icons/yell-arr.svg", alt="").catalog_wr__arrow.AC
				img(src="static/img/icons/white-arr.svg", alt="").catalog_wr__arrow.AC.hov_off
			img(src="static/img/icons/cat-icon-1.svg", alt="").catalog_wr__image
		a(href="#").catalog_wr__item
			h7.catalog_wr__title.title Для школ
			.catalog_wr__text Оборудование и лаборатории для обучения детей дошкольного и младшего школьного возраста
			span.catalog_wr__icon
				img(src="static/img/icons/gr-arr.svg", alt="").catalog_wr__arrow.AC
				img(src="static/img/icons/white-arr.svg", alt="").catalog_wr__arrow.AC.hov_off
			img(src="static/img/icons/cat-icon-2.svg", alt="").catalog_wr__image
		a(href="#").catalog_wr__item
			h7.catalog_wr__title.title Для ВУЗов
			.catalog_wr__text Оборудование и лаборатории для обучения детей дошкольного и младшего школьного возраста
			span.catalog_wr__icon
				img(src="static/img/icons/blue-arr.svg", alt="").catalog_wr__arrow.AC
				img(src="static/img/icons/white-arr.svg", alt="").catalog_wr__arrow.AC.hov_off
			img(src="static/img/icons/cat-icon-3.svg", alt="").catalog_wr__image
		a(href="#").catalog_wr__item
			h7.catalog_wr__title.title Доп. образование
			.catalog_wr__text Оборудование и лаборатории для обучения детей дошкольного и младшего школьного возраста
			span.catalog_wr__icon
				img(src="static/img/icons/viol-arr.svg", alt="").catalog_wr__arrow.AC
				img(src="static/img/icons/white-arr.svg", alt="").catalog_wr__arrow.AC.hov_off
			img(src="static/img/icons/cat-icon-4.svg", alt="").catalog_wr__image
	.catalog_open_wr
		.catalog_open_wr__item
			a(href="#").btn_w_arr.catalog_open_wr__link Коридоры и рекреации
			a(href="#").btn_w_arr.catalog_open_wr__link Входная зона  и гардероб
			a(href="#").btn_w_arr.catalog_open_wr__link Спортивный комплекс
			a(href="#").btn_w_arr.catalog_open_wr__link Актовый зал
			a(href="#").btn_w_arr.catalog_open_wr__link Столовая
			a(href="#").btn_w_arr.catalog_open_wr__link Библиотека
		.catalog_open_wr__item
			a(href="#").btn_w_arr.catalog_open_wr__link Коридоры и рекреации
			a(href="#").btn_w_arr.catalog_open_wr__link Входная зона  и гардероб
			a(href="#").btn_w_arr.catalog_open_wr__link Спортивный комплекс
			a(href="#").btn_w_arr.catalog_open_wr__link Актовый зал
			a(href="#").btn_w_arr.catalog_open_wr__link Столовая
			a(href="#").btn_w_arr.catalog_open_wr__link Библиотека
		.catalog_open_wr__item
			a(href="#").btn_w_arr.catalog_open_wr__link Коридоры и рекреации
			a(href="#").btn_w_arr.catalog_open_wr__link Входная зона  и гардероб
			a(href="#").btn_w_arr.catalog_open_wr__link Спортивный комплекс
			a(href="#").btn_w_arr.catalog_open_wr__link Актовый зал
			a(href="#").btn_w_arr.catalog_open_wr__link Столовая
			a(href="#").btn_w_arr.catalog_open_wr__link Библиотека
		.catalog_open_wr__item
			a(href="#").btn_w_arr.catalog_open_wr__link Коридоры и рекреации
			a(href="#").btn_w_arr.catalog_open_wr__link Входная зона  и гардероб
			a(href="#").btn_w_arr.catalog_open_wr__link Спортивный комплекс
			a(href="#").btn_w_arr.catalog_open_wr__link Актовый зал
			a(href="#").btn_w_arr.catalog_open_wr__link Столовая
			a(href="#").btn_w_arr.catalog_open_wr__link Библиотека
	.catalog_bot
		a(href="#").catalog_bot__btn.btn_w_arr Подобрать оборудование
		p.catalog_bot__text Укажите бюджет и специализиции, и мы сами предложим решение, подходящее для вас.