section.grid.clients.max_width
	h3.section_title.title.clients__title Наши клиенты
	.grid-X4.owl-carousel.clientsOwl.slider_T1
		a(href="").clients__item
			img(src="static/img/logos/cli1.png", alt="").clients__logo
		a(href="").clients__item
			img(src="static/img/logos/cli2.png", alt="").clients__logo
		a(href="").clients__item
			img(src="static/img/logos/cli3.png", alt="").clients__logo
		a(href="").clients__item
			img(src="static/img/logos/cli4.png", alt="").clients__logo
		a(href="").clients__item
			img(src="static/img/logos/cli5.png", alt="").clients__logo
		a(href="").clients__item
			img(src="static/img/logos/cli1.png", alt="").clients__logo
		a(href="").clients__item
			img(src="static/img/logos/cli2.png", alt="").clients__logo
		a(href="").clients__item
			img(src="static/img/logos/cli3.png", alt="").clients__logo
		a(href="").clients__item
			img(src="static/img/logos/cli4.png", alt="").clients__logo
		a(href="").clients__item
			img(src="static/img/logos/cli5.png", alt="").clients__logo
		a(href="").clients__item
			img(src="static/img/logos/cli1.png", alt="").clients__logo
		a(href="").clients__item
			img(src="static/img/logos/cli2.png", alt="").clients__logo

