section.comp_title.max_width
	.comp_title__left
		.comp_title__quarter.comp_title__quarter_left
			span.comp_title__bd_left Для школы
			h1.comp_title__title.title Рабочее место логопеда
			p.comp_title__desc Для класса технологического обучения
			p.comp_title__bold.bold 320 000 ₽
			a.btn_w_arr.comp_title__btn.comp_title__btn2(data-pop_up=".pop_up__order") Заказать
				.hover_bl
			a.btn_w_arr.comp_title__btn.comp_title__quarter_left_btn(data-pop_up=".pop_up__order") Заказать
				.hover_bl
			a.btn_w_arr.comp_title__btn.comp_title__btn4(data-pop_up=".pop_up__order") Подробнее
		.comp_title__quarter.comp_title__quarter_right
			img(src="static/img/pictures/photo3.jpg", alt="").comp_title__image
			//- a.btn_w_arr.comp_title__btn3.comp_title__btn Заказать
			//- 	.hover_bl

	.comp_title__right
		a(href="#").comp_title__arrow.arrow_btn
			.hover_bl