section.simple_slider.max_width.complex_slider
	h3.section_title.title.simple_slider__title В состав лаборатории входит
	.slider_T1.owl-carousel.labSlider
		a(href="").simple_slider__item
			img(src="static/img/pictures/image4.jpg", alt="").simple_slider__img
			p.simple_slider__text Рабочее место ученика №1
		a(href="").simple_slider__item
			img(src="static/img/pictures/image4.jpg", alt="").simple_slider__img
			p.simple_slider__text Рабочее место ученика №1
		a(href="").simple_slider__item
			img(src="static/img/pictures/image4.jpg", alt="").simple_slider__img
			p.simple_slider__text Рабочее место ученика №1
		a(href="").simple_slider__item
			img(src="static/img/pictures/image4.jpg", alt="").simple_slider__img
			p.simple_slider__text Рабочее место ученика №1
		a(href="").simple_slider__item
			img(src="static/img/pictures/image4.jpg", alt="").simple_slider__img
			p.simple_slider__text Рабочее место ученика №1
		a(href="").simple_slider__item
			img(src="static/img/pictures/image4.jpg", alt="").simple_slider__img
			p.simple_slider__text Рабочее место ученика №1	
	.slider_T1.owl-carousel.labSlider.complex_slider__2nd
		a(href="").simple_slider__item
			img(src="static/img/pictures/image4.jpg", alt="").simple_slider__img
			p.simple_slider__text Рабочее место ученика №1
		a(href="").simple_slider__item
			img(src="static/img/pictures/image4.jpg", alt="").simple_slider__img
			p.simple_slider__text Рабочее место ученика №1
		a(href="").simple_slider__item
			img(src="static/img/pictures/image4.jpg", alt="").simple_slider__img
			p.simple_slider__text Рабочее место ученика №1
		a(href="").simple_slider__item
			img(src="static/img/pictures/image4.jpg", alt="").simple_slider__img
			p.simple_slider__text Рабочее место ученика №1
		a(href="").simple_slider__item
			img(src="static/img/pictures/image4.jpg", alt="").simple_slider__img
			p.simple_slider__text Рабочее место ученика №1
		a(href="").simple_slider__item
			img(src="static/img/pictures/image4.jpg", alt="").simple_slider__img
			p.simple_slider__text Рабочее место ученика №1	