section.simple_slider.max_width.complex_slider
	.complex_slider__bg
	.complex_slider__wr
		h3.section_title.title.simple_slider__title.complex_slider__title В состав лаборатории входит
		.slider_T1.owl-carousel.labSlider
			a(href="").simple_slider__item.complex_slider__item
				img(src="static/img/pictures/image4.jpg", alt="").simple_slider__img
				p.simple_slider__text.complex_slider__text Рабочее место ученика №1
				span.complex_slider__corner.bold ×15
			a(href="").simple_slider__item.complex_slider__item
				img(src="static/img/pictures/image4.jpg", alt="").simple_slider__img
				p.simple_slider__text.complex_slider__text Оборудование для проведения экспериментов
				span.complex_slider__corner.bold ×15
			a(href="").simple_slider__item.complex_slider__item
				img(src="static/img/pictures/image4.jpg", alt="").simple_slider__img
				p.simple_slider__text.complex_slider__text Рабочее место ученика №1 Рабочее место ученика №1
				span.complex_slider__corner.bold ×15
			a(href="").simple_slider__item.complex_slider__item
				img(src="static/img/pictures/image4.jpg", alt="").simple_slider__img
				p.simple_slider__text.complex_slider__text Рабочее место ученика №1
				span.complex_slider__corner.bold ×15
			a(href="").simple_slider__item.complex_slider__item
				img(src="static/img/pictures/image4.jpg", alt="").simple_slider__img
				p.simple_slider__text.complex_slider__text Рабочее место ученика №1
				span.complex_slider__corner.bold ×15
			a(href="").simple_slider__item.complex_slider__item
				img(src="static/img/pictures/image4.jpg", alt="").simple_slider__img
				p.simple_slider__text.complex_slider__text Рабочее место ученика №1
				span.complex_slider__corner.bold ×15	
		.slider_T1.owl-carousel.labSlider.complex_slider__2nd
			a(href="").simple_slider__item.complex_slider__item
				img(src="static/img/pictures/image4.jpg", alt="").simple_slider__img
				p.simple_slider__text.complex_slider__text Рабочее место ученика №1
				span.complex_slider__corner.bold ×15
			a(href="").simple_slider__item.complex_slider__item
				img(src="static/img/pictures/image4.jpg", alt="").simple_slider__img
				p.simple_slider__text.complex_slider__text Рабочее место ученика №1
				span.complex_slider__corner.bold ×15
			a(href="").simple_slider__item.complex_slider__item
				img(src="static/img/pictures/image4.jpg", alt="").simple_slider__img
				p.simple_slider__text.complex_slider__text Рабочее место ученика №1
				span.complex_slider__corner.bold ×15
			a(href="").simple_slider__item.complex_slider__item
				img(src="static/img/pictures/image4.jpg", alt="").simple_slider__img
				p.simple_slider__text.complex_slider__text Рабочее место ученика №1
				span.complex_slider__corner.bold ×15
			a(href="").simple_slider__item.complex_slider__item
				img(src="static/img/pictures/image4.jpg", alt="").simple_slider__img
				p.simple_slider__text.complex_slider__text Рабочее место ученика №1
				span.complex_slider__corner.bold ×15
			a(href="").simple_slider__item.complex_slider__item
				img(src="static/img/pictures/image4.jpg", alt="").simple_slider__img
				p.simple_slider__text.complex_slider__text Рабочее место ученика №1
				span.complex_slider__corner.bold ×15	