section.comp_title.comp_title_2.max_width
	.comp_title__left
		.comp_title__quarter.comp_title__quarter_left.comp_title_2__quarter_left
			span.comp_title__bd_left Для ВУЗа
			h1.comp_title__title.title Цифровая лаборатория по физике
			p.comp_title__desc.comp_title_2__desc Цифровая лаборатория по физике представляет собой набор элементов и датчиков
			p.comp_title__bold.bold 151 000 ₽
			a.btn_w_arr.comp_title__btn.comp_title__btn2.comp_title_2__btn2 Изменить конфигурацию
				.hover_bl
			a.btn_w_arr.comp_title__btn.comp_title_2__btn.comp_title_2__btn1 Изменить конфигурацию
				.hover_bl
			a.btn_w_arr.comp_title__btn.comp_title__btn4.comp_title_2__btn4 Подробнее
		.comp_title__quarter.comp_title__quarter_right.comp_title_2__quarter_right
			img(src="static/img/pictures/image13.jpg", alt="").comp_title__image.comp_title_2__image
			a.btn_w_arr.comp_title__btn3.comp_title__btn.comp_title_2__btn3 Заказать
				.hover_bl

	.comp_title__right.comp_title_2__right
		a(href="#").comp_title__arrow.arrow_btn.comp_title_2__arrow
			.hover_bl