.shop_wrap.conf_wr
	section.conf_wr__top.max_width
		p.conf_wr__quart.conf_wr__top-left
			span.conf_wr__18 Итоговая цена
			b.conf_wr__bold 320 000 ₽
		a(href="").conf_wr__quart.btn_w_arr.conf_wr__order Заказать
			.hover_bl
		a(href="").conf_wr__quart.btn_w_arr.conf_wr__btn2 Посмотреть список
			.hover_bl
		a(href="").conf_wr__quart.shop_filters__toggle.conf_wr__toggle.bold Воспользуйтесь фильтром
			.hover_bl



	section.shop.max_width
		form(action="").shop_filters.conf_wr_filters
			.shop_filters__mob_wr.owl-carousel
				a(href="#").btn_w_arr.link_grp__link Коридоры и рекреации
				a(href="#").btn_w_arr.link_grp__link Входная зона  и гардероб
				a(href="#").btn_w_arr.link_grp__link Спортивный комплекс
				a(href="#").btn_w_arr.link_grp__link Актовый зал
				a(href="#").btn_w_arr.link_grp__link Столовая
				a(href="#").btn_w_arr.link_grp__link Библиотека
				a(href="#").btn_w_arr.link_grp__link Коридоры и рекреации
				a(href="#").btn_w_arr.link_grp__link Входная зона  и гардероб
				a(href="#").btn_w_arr.link_grp__link Спортивный комплекс
			.conf_wr_filters__wr.shop_filters__top
				a(href="#").shop_filters__caps НОВинКИ
				a(href="#").shop_filters__caps ШКОЛА-НОВОСТРОЙКА
				a(href="#").shop_filters__caps ГОТОВЫЕ КОМПЛЕКТЫ

				.shop_filters__block
					a(href="#").shop_filters__cat.bold.css_arr Цена
					.shop_filters__cat_wr.shop_filters__price_wr
						.shop_filters__price
						input(type="number", placeholder="от 100").shop_filters__price_input.prFilLeft.prFil.conf_wr_filters__price_inp
						input(type="number", placeholder="до 10 000").shop_filters__price_input.shop_filters__price_input-last.prFilRight.prFil.conf_wr_filters__price_inp

			.conf_wr_filters__wr.shop_filters__block
				a(href="#").shop_filters__cat.bold.css_arr Уровень
				.shop_filters__cat_wr
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input1
						label(for="input1").label_checkbox.conf_wr_filters__chbx Начальная школа
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input2
						label(for="input2").label_checkbox.conf_wr_filters__chbx Базовый уровень
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input3
						label(for="input3").label_checkbox.conf_wr_filters__chbx Профильный уровень
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input4
						label(for="input4").label_checkbox.conf_wr_filters__chbx Подготовка к ЕГЭ
			.conf_wr_filters__wr.shop_filters__block
				a(href="#").shop_filters__cat.bold.css_arr Назначение
				.shop_filters__cat_wr
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input5
						label(for="input5").label_checkbox.conf_wr_filters__chbx Цифровые лаборатории
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input6
						label(for="input6").label_checkbox.conf_wr_filters__chbx Лабораторные работы
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input7
						label(for="input7").label_checkbox.conf_wr_filters__chbx Практикумы
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input8
						label(for="input8").label_checkbox.conf_wr_filters__chbx Аттестация
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input9
						label(for="input9").label_checkbox.conf_wr_filters__chbx Цифровые датчики
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input10
						label(for="input10").label_checkbox.conf_wr_filters__chbx Проектная работа
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input11
						label(for="input11").label_checkbox.conf_wr_filters__chbx Наборы для демонстрации
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input12
						label(for="input12").label_checkbox.conf_wr_filters__chbx Готовые лаборатории
					a(href="#").shop_filters__cat_link.trs Показать ещё +
			.conf_wr_filters__wr.shop_filters__block
				a(href="#").shop_filters__cat.bold.css_arr Уровень
				.shop_filters__cat_wr
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input1
						label(for="input1").label_checkbox.conf_wr_filters__chbx Начальная школа
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input2
						label(for="input2").label_checkbox.conf_wr_filters__chbx Базовый уровень
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input3
						label(for="input3").label_checkbox.conf_wr_filters__chbx Профильный уровень
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input4
						label(for="input4").label_checkbox.conf_wr_filters__chbx Подготовка к ЕГЭ

			.shop_filters__wrap.conf_wr_filters__wrap
				a(href="#").btn_w_arr.shop_filters__btn.trs Применить
					.hover_bl
				a(href="#").shop_filters__reset.bold.trs Сбросить

	section.shop.max_width
		form(action="").shop_filters.conf_wr_filters-side
			.shop_filters__block
				a(href="#").shop_filters__cat.bold.css_arr.closed Уровень
				.shop_filters__cat_wr.closed
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input1
						label(for="input1").label_checkbox Начальная школа
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input2
						label(for="input2").label_checkbox Базовый уровень
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input3
						label(for="input3").label_checkbox Профильный уровень
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input4
						label(for="input4").label_checkbox Подготовка к ЕГЭ
			.shop_filters__block
				a(href="#").shop_filters__cat.bold.css_arr.closed Назначение
				.shop_filters__cat_wr.closed
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input5
						label(for="input5").label_checkbox Цифровые лаборатории
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input6
						label(for="input6").label_checkbox Лабораторные работы
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input7
						label(for="input7").label_checkbox Практикумы
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input8
						label(for="input8").label_checkbox Аттестация
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input9
						label(for="input9").label_checkbox Цифровые датчики
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input10
						label(for="input10").label_checkbox Проектная работа
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input11
						label(for="input11").label_checkbox Наборы для демонстрации
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input12
						label(for="input12").label_checkbox Готовые лаборатории
					a(href="#").shop_filters__cat_link.trs Показать ещё +
			.shop_filters__block
				a(href="#").shop_filters__cat.bold.css_arr.closed Уровень
				.shop_filters__cat_wr.closed
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input1
						label(for="input1").label_checkbox Начальная школа
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input2
						label(for="input2").label_checkbox Базовый уровень
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input3
						label(for="input3").label_checkbox Профильный уровень
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input4
						label(for="input4").label_checkbox Подготовка к ЕГЭ

			.shop_filters__wrap.conf_wr_filters__wrap.conf_wr_filters-side__wrap
				a(href="#").shop_filters__reset.bold.trs Сбросить

		.config.config-cond2
			h7.config__title.title.config-cond1__title План помещения
			.config__wr
				.config__wrap
					.config__left
						.config__inp_wr
							label(for="").config__label Стена А
							input(type="text").config__input
						.config__inp_wr
							label(for="").config__label Стена B
							input(type="text").config__input
						.config__inp_wr
							label(for="").config__label Высота
							input(type="text").config__input
					.config__center
					.config__right
						a(href="#").btn_w_arr.shop_filters__btn.trs Применить
							.hover_bl
			.conf_wr__over
				h7.config__title.title.config-cond2__title Стул
				.config__owl.owl-carousel.slider_T1
					a(href="#").config__item
						.config__img_wr
							img(src="static/img/pictures/shop2.png", alt="").config__img
							.config__arrow
								img(src="static/img/icons/gray-arr.svg", alt="").config__icon
								img(src="static/img/icons/white-arr.svg", alt="").config__icon.config__icon-hov
						p.config__name Стол для учителя
						p.config__desc 100х36 см
						p.config__price 1200 ₽
					a(href="#").config__item
						.config__img_wr
							img(src="static/img/pictures/shop2.png", alt="").config__img
							.config__arrow
								img(src="static/img/icons/gray-arr.svg", alt="").config__icon
								img(src="static/img/icons/white-arr.svg", alt="").config__icon.config__icon-hov
						p.config__name Стол для учителя
						p.config__desc 100х36 см
						p.config__price 1200 ₽
					a(href="#").config__item
						.config__img_wr
							img(src="static/img/pictures/shop2.png", alt="").config__img
							.config__arrow
								img(src="static/img/icons/gray-arr.svg", alt="").config__icon
								img(src="static/img/icons/white-arr.svg", alt="").config__icon.config__icon-hov
						p.config__name Стол для учителя
						p.config__desc 100х36 см
						p.config__price 1200 ₽
					a(href="#").config__item
						.config__img_wr
							img(src="static/img/pictures/shop2.png", alt="").config__img
							.config__arrow
								img(src="static/img/icons/gray-arr.svg", alt="").config__icon
								img(src="static/img/icons/white-arr.svg", alt="").config__icon.config__icon-hov
						p.config__name Стол для учителя
						p.config__desc 100х36 см
						p.config__price 1200 ₽
					a(href="#").config__item
						.config__img_wr
							img(src="static/img/pictures/shop2.png", alt="").config__img
							.config__arrow
								img(src="static/img/icons/gray-arr.svg", alt="").config__icon
								img(src="static/img/icons/white-arr.svg", alt="").config__icon.config__icon-hov
						p.config__name Стол для учителя
						p.config__desc 100х36 см
						p.config__price 1200 ₽
					a(href="#").config__item
						.config__img_wr
							img(src="static/img/pictures/shop2.png", alt="").config__img
							.config__arrow
								img(src="static/img/icons/gray-arr.svg", alt="").config__icon
								img(src="static/img/icons/white-arr.svg", alt="").config__icon.config__icon-hov
						p.config__name Стол для учителя
						p.config__desc 100х36 см
						p.config__price 1200 ₽
			.config__body
				.config__top_line
					.config__number 6000
				.config__left_line
					.config__number 4500
			a(href="").conf_wr__quart.btn_w_arr.conf_wr__order.conf_wr__order2 Заказать
				.hover_bl