.shop_wrap.conf_wr
	section.conf_wr__top.max_width
		p.conf_wr__quart.conf_wr__top-left
			span.conf_wr__18 Итоговая цена
			b.conf_wr__bold 320 000 ₽
		form(action="#").conf_wr__quart.conf_wr__order
			button.conf_wr__quart.btn_w_arr.conf_wr__order.conf_wr__order_btn Заказать
				.hover_bl
			input(type="text").list_items.list_hide
			input(type="text").list_img.list_hide
			input(type="text").list_name_proj.list_hide
			input(type="text").list_name_img.list_hide
		//- a(href="").conf_wr__quart.btn_w_arr.conf_wr__order Заказать
		//- 		.hover_bl
		a(href="").conf_wr__quart.btn_w_arr.conf_wr__btn2.open_page_pdf Посмотреть список
			.hover_bl
		a(href="").conf_wr__quart.shop_filters__toggle.conf_wr__toggle.bold 
			span.conf_wr__desk Воспользуйтесь фильтром
			span.conf_wr__desk-small Фильтр
			.hover_bl

	section.shop.max_width
		form(action="").shop_filters.conf_wr_filters
			.shop_filters__mob_wr.owl-carousel
				a(href="#").btn_w_arr.link_grp__link Коридоры и рекреации
				a(href="#").btn_w_arr.link_grp__link Входная зона  и гардероб
				a(href="#").btn_w_arr.link_grp__link Спортивный комплекс
				a(href="#").btn_w_arr.link_grp__link Актовый зал
				a(href="#").btn_w_arr.link_grp__link Столовая
				a(href="#").btn_w_arr.link_grp__link Библиотека
				a(href="#").btn_w_arr.link_grp__link Коридоры и рекреации
				a(href="#").btn_w_arr.link_grp__link Входная зона  и гардероб
				a(href="#").btn_w_arr.link_grp__link Спортивный комплекс
			.conf_wr_filters__wr.shop_filters__top
				a(href="#").shop_filters__caps НОВинКИ
				a(href="#").shop_filters__caps ШКОЛА-НОВОСТРОЙКА
				a(href="#").shop_filters__caps ГОТОВЫЕ КОМПЛЕКТЫ

				.shop_filters__block
					a(href="#").shop_filters__cat.bold.css_arr Цена
					.shop_filters__cat_wr.shop_filters__price_wr
						.shop_filters__price
						input(type="number", placeholder="от 100").shop_filters__price_input.prFilLeft.prFil.conf_wr_filters__price_inp
						input(type="number", placeholder="до 10 000").shop_filters__price_input.shop_filters__price_input-last.prFilRight.prFil.conf_wr_filters__price_inp

			.conf_wr_filters__wr.shop_filters__block
				a(href="#").shop_filters__cat.bold.css_arr Уровень
				.shop_filters__cat_wr
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input1
						label(for="input1").label_checkbox.conf_wr_filters__chbx Начальная школа
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input2
						label(for="input2").label_checkbox.conf_wr_filters__chbx Базовый уровень
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input3
						label(for="input3").label_checkbox.conf_wr_filters__chbx Профильный уровень
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input4
						label(for="input4").label_checkbox.conf_wr_filters__chbx Подготовка к ЕГЭ
			.conf_wr_filters__wr.shop_filters__block
				a(href="#").shop_filters__cat.bold.css_arr Назначение
				.shop_filters__cat_wr
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input5
						label(for="input5").label_checkbox.conf_wr_filters__chbx Цифровые лаборатории
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input6
						label(for="input6").label_checkbox.conf_wr_filters__chbx Лабораторные работы
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input7
						label(for="input7").label_checkbox.conf_wr_filters__chbx Практикумы
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input8
						label(for="input8").label_checkbox.conf_wr_filters__chbx Аттестация
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input9
						label(for="input9").label_checkbox.conf_wr_filters__chbx Цифровые датчики
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input10
						label(for="input10").label_checkbox.conf_wr_filters__chbx Проектная работа
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input11
						label(for="input11").label_checkbox.conf_wr_filters__chbx Наборы для демонстрации
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input12
						label(for="input12").label_checkbox.conf_wr_filters__chbx Готовые лаборатории
					a(href="#").shop_filters__cat_link.trs Показать ещё +
			.conf_wr_filters__wr.shop_filters__block
				a(href="#").shop_filters__cat.bold.css_arr Уровень
				.shop_filters__cat_wr
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input1
						label(for="input1").label_checkbox.conf_wr_filters__chbx Начальная школа
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input2
						label(for="input2").label_checkbox.conf_wr_filters__chbx Базовый уровень
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input3
						label(for="input3").label_checkbox.conf_wr_filters__chbx Профильный уровень
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input4
						label(for="input4").label_checkbox.conf_wr_filters__chbx Подготовка к ЕГЭ

			.shop_filters__wrap.conf_wr_filters__wrap
				a(href="#").btn_w_arr.shop_filters__btn.trs Применить
					.hover_bl
				a(href="#").shop_filters__reset.bold.trs Сбросить

	section.shop.max_width.conf_wr__shop
		form(action="").shop_filters.conf_wr_filters-side
			.shop_filters__block.conf_wr__block.conf_wr__plan
				a(href="#").shop_filters__cat.bold.css_arr.closed.conf_wr_filters__plan.conf_wr__cat План помещения
				.shop_filters__cat_wr.closed.shop_filters__desk_toggle
					.config__wr.config__wr-filter
						.config__wrap.config__wrap-no_desk
							.config__left
								.config__inp_wr
									label(for="").config__label Стена А (cm)
									input(type="text").config__input#confWallA
								.config__inp_wr
									label(for="").config__label Стена B (cm)
									input(type="text").config__input#confWallB
								.config__inp_wr
									label(for="").config__label Высота (cm)
									input(type="text").config__input.config__input_height_mobile

							.config__center
								.config__add_window.config__add_item_center
									.config__add_window_img
										img(src="../../../static/img/icons/window-icon.svg", alt="window")
									.config__add_wrap_txt.config__add_window
										p.config__add_txt Добавить
										p.config__add_txt.config__add_link окно
								.config__add_door.config__add_item_center
									.config__add_door_img
										img(src="../../../static/img/icons/door-icon.svg", alt="door")
									.config__add_wrap_txt.config__add_door
										p.config__add_txt Добавить
										p.config__add_txt.config__add_link дверь
							.config__right
								a(href="#").btn_w_arr.shop_filters__btn.trs.config__next Применить
									.hover_bl
			.wrap_filter
				.shop_filters__block.conf_wr__block.shop_filters__block_wrap
					a(href="#").shop_filters__cat.bold.css_arr.closed.conf_wr__cat.item_category Слон
					.conf_wr_filters__cat_wr.shop_filters__cat_wr.closed
						.shop_filters__input_wr.conf_wr_filters__input_wr
							input(type="checkbox").checkbox#input5
							label(for="input5").conf_wr_filters-side__chbx.label_checkbox(data-type="chair") Стул
						//- a(href="#").shop_filters__cat_link.trs.conf_wr_filters-side__cat Показать ещё +
				.shop_filters__block.conf_wr__block.shop_filters__block_wrap
					a(href="#").shop_filters__cat.bold.css_arr.closed.conf_wr__cat.item_category Кот
					.conf_wr_filters__cat_wr.shop_filters__cat_wr.closed
						.shop_filters__input_wr.conf_wr_filters__input_wr
							input(type="checkbox").checkbox#input1
							label(for="input1").conf_wr_filters-side__chbx.label_checkbox Начальная школа
			.shop_filters__wrap.conf_wr_filters__wrap.conf_wr_filters-side__wrap
				a(href="#").shop_filters__reset.bold.trs.conf_wr_filters-side__reset Сбросить

		.config.config-cond1
			h7.config__title.title.config-cond1__title План помещения
			.config__wr
				.config__wrap
					.config__left
						.config__inp_wr
							label(for="").config__label Стена А (cm)
							input(type="text").config__input#confWallA
						.config__inp_wr
							label(for="").config__label Стена B (cm)
							input(type="text").config__input#confWallB
						.config__inp_wr
							label(for="").config__label Высота (cm)
							input(type="text").config__input.config__input_height

					.config__center
						.config__add_window.config__add_item_center
							.config__add_window_img
								img(src="../../../static/img/icons/window-icon.svg", alt="window")
							.config__add_wrap_txt
								p.config__add_txt.config__add_txt_hover Добавить
								p.config__add_txt.config__add_link.config__add_txt_hover окно
						.config__add_door.config__add_item_center
							.config__add_door_img
								img(src="../../../static/img/icons/door-icon.svg", alt="door")
							.config__add_wrap_txt
								p.config__add_txt.config__add_txt_hover Добавить
								p.config__add_txt.config__add_link.config__add_txt_hover дверь
					.config__right
						a(href="#").btn_w_arr.shop_filters__btn.trs.config__next Применить
							.hover_bl
			.conf_wr__over
				h7.config__title.title.config-cond2__title Стул
				.conf_wr__wrap_slider
					.conf_wr__preloader_wrap.conf_wr__preloader_filter
						.conf_wr__preloader
							.bigSqr
								.square.first
								.square.second
								.square.third
								.square.fourth
							.text loading
					.config__owl.owl-carousel.slider_T1.config__owl_desktop
					
			.config__body
				.config__top_line
					.config__number 6000
				.config__left_line
					.config__number 4500
				include constructor
			form(action="#").conf_wr__quart.btn_w_arr.conf_wr__order.conf_wr__order2.conf_wr__order2_form
				button.conf_wr__quart.btn_w_arr.conf_wr__order.conf_wr__order2.conf_wr__order_btn Заказать
					.hover_bl
				input(type="text").list_items.list_hide
				input(type="text").list_img.list_hide
				input(type="text").list_name_proj.list_hide
				input(type="text").list_name_img.list_hide
			//- a(href="").conf_wr__quart.btn_w_arr.conf_wr__order.conf_wr__order2 Заказать
			//- 	.hover_bl

	section.mob.conf_wr__mob
		img(src="static/img/icons/comp.svg", width="100", alt="")
		p.conf_wr__mob_text.bold Для работы с конфигуратором необходимо войти с компьютера или планшета 