.constructor
	script(src="static/const/scripts/blueprint3d.js")
	script(src="static/const/scripts/jquery.js")
	script(src="static/const/scripts/items.js")
	script(src="static/const/scripts/example.js")
	#viewer
	#floorplanner
		canvas#floorplanner-canvas

#d2.controlViwe.controlViwe_blue(style="width:20px; height:20px; background-color:black")
#d3.controlViwe.controlViwe_wh.change_on(style="width:20px; height:20px; background-color:black")