.constructor
	script(src="static/const/scripts/blueprint3d.js")
	script(src="static/const/scripts/jquery.js")
	script(src="static/const/scripts/items.js")
	script(src="static/const/scripts/example.js")
	#viewer
	#floorplanner
		canvas#floorplanner-canvas
	.constructor__control_view
		a(href="#")#constructor_2d.constructor__controlViwe.constructor__controlViwe_blue
		a(href="#")#constructor_3d.constructor__controlViwe.constructor__controlViwe_wh
	a#context-menu-delete.remove_item
	.btn-group-vertical.constructor__control_zoom
		a(href="#")#zoom-in.btn.btn-default.bottom.constructor__zoom
			span.glyphicon.glyphicon-zoom-in.constructor__zoom_circle.constructor__zoom_plus
		a(href="#")#zoom-out.btn.btn-default.bottom.constructor__zoom
			span.glyphicon.glyphicon-zoom-out.constructor__zoom_circle.constructor__zoom_minus

