.constructor(data-json=`[
		{
			"name": "Стул",
			"image": "static/const/models/newObj/chair/model.png",
			"model": "static/const/models/newObj/chair/model.js",
			"type": "1",
			"types": "Основное",
			"category": "Мебель",
			"size": "120"
		},
		{
			"name": "Клавиатура",
			"image": "static/const/models/newObj/keyboard/model.png",
			"model": "static/const/models/newObj/keyboard/model.js",
			"type": "1",
			"types": "ПК",
			"category": "Электроника",
			"size": "20"
		},
		{
			"name": "Колбы-1",
			"image": "static/const/models/newObj/lab1/model.png",
			"model": "static/const/models/newObj/lab1/model.js",
			"type": "1",
			"types": "Другое",
			"category": "Мебель",
			"size": "70"
		},
		{
			"name": "Laptop",
			"image": "static/const/models/newObj/Laptop/model.png",
			"model": "static/const/models/newObj/Laptop/model.js",
			"type": "1",
			"types": "ПК",
			"category": "Электроника",
			"size": "520"
		},
		{
			"name": "Monitor",
			"image": "static/const/models/newObj/Monitor/model.png",
			"model": "static/const/models/newObj/Monitor/model.js",
			"type": "1",
			"types": "ПК",
			"category": "Электроника",
			"size": "110"
		},
		{
			"name": "monoblock",
			"image": "static/const/models/newObj/monoblock/model.png",
			"model": "static/const/models/newObj/monoblock/model.js",
			"type": "1",
			"types": "ПК",
			"category": "Электроника",
			"size": "720"
		},
		{
			"name": "Мышь",
			"image": "static/const/models/newObj/mouse/model.png",
			"model": "static/const/models/newObj/mouse/model.js",
			"type": "1",
			"types": "Другое",
			"category": "Электроника",
			"size": "10"
		},
		{
			"name": "Osc",
			"image": "static/const/models/newObj/Osc/model.png",
			"model": "static/const/models/newObj/Osc/model.js",
			"type": "1",
			"types": "Другое",
			"category": "Электроника",
			"size": "120"
		},
		{
			"name": "PC",
			"image": "static/const/models/newObj/PC/model.png",
			"model": "static/const/models/newObj/PC/model.js",
			"type": "1",
			"types": "ПК",
			"category": "Электроника",
			"size": "120"
		},
		{
			"name": "Системник",
			"image": "static/const/models/newObj/PCbuild/model.png",
			"model": "static/const/models/newObj/PCbuild/model.js",
			"type": "1",
			"types": "ПК",
			"category": "Электроника",
			"size": "120"
		},
		{
			"name": "Принтер-3d",
			"image": "static/const/models/newObj/Print3d/model.png",
			"model": "static/const/models/newObj/Print3d/model.js",
			"type": "1",
			"types": "Другое",
			"category": "Электроника",
			"size": "120"
		},
		{
			"name": "Проектор",
			"image": "static/const/models/newObj/projector/model.png",
			"model": "static/const/models/newObj/projector/model.js",
			"type": "1",
			"types": "Другое",
			"category": "Электроника",
			"size": "120"
		},
		{
			"name": "Стол-столярный",
			"image": "static/const/models/newObj/Stolar/model.png",
			"model": "static/const/models/newObj/Stolar/model.js",
			"type": "1",
			"types": "Основное",
			"category": "Мебель",
			"size": "120"
		},
		{
			"name": "Стол",
			"image": "static/const/models/newObj/table/model.png",
			"model": "static/const/models/newObj/table/model.js",
			"type": "1",
			"types": "Основное",
			"category": "Мебель",
			"size": "120"
		},
		{
			"name": "Телескоп",
			"image": "static/const/models/newObj/Telescope/model.png",
			"model": "static/const/models/newObj/Telescope/model.js",
			"type": "1",
			"types": "Другое",
			"category": "Мебель",
			"size": "120"
		}
	]`)
	script(src="static/const/scripts/blueprint3d.js")
	script(src="static/const/scripts/jquery.js")
	script(src="static/const/scripts/example.js")
	#viewer
		//- .instruction
			.instruction__bg
			.instruction__content
				h2.instruction__title Инструкция
				ol.instruction__list
					li.instruction__item
						span.instruction__counter 1.
						p.instruction__text Настройте размер кабинета: высота (250-300см), длина стен (300-1500см)
					li.instruction__item
						span.instruction__counter 2.
						p.instruction__text Выберите категорию слева и объект для размещения на плане
					li.instruction__item
						span.instruction__counter 3.
						p.instruction__text Перемещайте и вращайте объект на плане
					li.instruction__item
						span.instruction__counter 4.
						p.instruction__text Чтобы удалить объект, нажмите на корзину на панели управления
					li.instruction__item
						span.instruction__counter 5.
						p.instruction__text Переключайте вид между 2D/3D, каждая сторона плитки - 1м
				a(href="#").instruction__link Нажмите, чтобы продолжить

		.conf_wr__preloader_wrap.constructor__preloader
			.conf_wr__preloader
				.bigSqr
					.square.first
					.square.second
					.square.third
					.square.fourth
				.text loading
	#floorplanner(data-array="")
		canvas#floorplanner-canvas
	.constructor__control_view
		a(href="#")#constructor_2d.constructor__controlViwe.constructor__controlViwe_blue
		a(href="#")#constructor_3d.constructor__controlViwe.constructor__controlViwe_wh
	a#context-menu-delete.remove_item
	.btn-group-vertical.constructor__control_zoom
		a(href="#")#zoom-in.btn.btn-default.bottom.constructor__zoom
			span.glyphicon.glyphicon-zoom-in.constructor__zoom_circle.constructor__zoom_plus
		a(href="#")#zoom-out.btn.btn-default.bottom.constructor__zoom
			span.glyphicon.glyphicon-zoom-out.constructor__zoom_circle.constructor__zoom_minus
