.constructor
	script(src="static/const/scripts/blueprint3d.js")
	script(src="static/const/scripts/jquery.js")
	script(src="static/const/scripts/items.js")
	script(src="static/const/scripts/example.js")
	#viewer
	#floorplanner
		canvas#floorplanner-canvas