.constructor
	script(src="static/const/blueprint3d.js")
	script(src="static/const/jquery.js")
	script(src="static/const/items.js")
	script(src="static/const/example.js")
	#viewer
	#floorplanner
		canvas#floorplanner-canvas