.contacts_page
	.contacts_page__left
		.contacts_page__title
			h1.title Контакты
		.info_contacts
			.info_contacts__adress.info_contacts__item
				h7.title.info_contacts__title Адрес офиса
				p.info_contacts__text г. Москва, 2-ая звенигородская, 12с1
				h7.info_contacts__title Часы работы
				p.info_contacts__text c 8:00 до 18:00
			.info_contacts__chief.info_contacts__item
				h7.title.info_contacts__title Кунцев Юрий Валерьевич
				p.info_contacts__text руководитель проектного офиса
				a.info_contacts__title(href="tel:+89166499250") 8 916 649 92 50 
				a.info_contacts__text(href="mailto:ukountsev@gmail.com") ukountsev@gmail.com 
	.contacts_page__right
		.contacts_page__map
			.contacts_page__btn_next
				img(src="../../../static/img/icons/arr-long-white.svg", alt="")
