section.cooperating_form.max_width
	.cooperating_form__left_side 
		h3.cooperating_form__title Заявка на сотрудничество
		p.cooperating_form__text Задача организации, в особенности же рамки и место обучения кадров требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. 
	.cooperating_form__right_side 
		.cooperating_form__form
			form(action="")
				.have_question__field_input.cooperating_form__field_input
					input(type="text", placeholder="Ваше имя").have_question__input.cooperating_form__input
					input(type="text", placeholder="Название компании").have_question__input.cooperating_form__input
					input(type="tel", placeholder="Телефон").have_question__input.cooperating_form__input
					input(type="e-mail", placeholder="E-mail").have_question__input.cooperating_form__input
					textarea(name="", cols="30", rows="10" placeholder="Ваш комментарий").have_question__input.cooperating_form__area
				.have_question__field_send.cooperating_form__field_send
					button.have_question__btn.bold.cooperating_form__btn Отправить заявку
	