section.cooperating_slider_midle
	p.cooperating_slider_midle__title.cooperating_slider_head__title.title Ключевые клиенты
	.slider_middle
		.slider_middle__nav
			button(type="button").slider_middle_prev
			button(type="button").slider_middle_next
		.slider_middle__block_one
			.slider_middle__basic.slider_middle__slide_a.slide_one
				.slider_par 
					a(href="#") 	
						img(src="../../../static/img/logos/cli5.png", alt="").slider_par__picture
				.slider_par 
					a(href="#") 
						img(src="../../../static/img/logos/cli2.png", alt="").slider_par__picture
				.slider_par 
					a(href="#") 
						img(src="../../../static/img/logos/cli1.png", alt="").slider_par__picture
			.slider_middle__basic.slider_middle__slide_b.slide_two
				.slider_par 
					a(href="#") 
						img(src="../../../static/img/logos/cli2.png", alt="").slider_par__picture
				.slider_par 
					a(href="#") 	
						img(src="../../../static/img/logos/cli4.png", alt="").slider_par__picture
				.slider_par 
					a(href="#") 
						img(src="../../../static/img/logos/cli1.png", alt="").slider_par__picture
		.slider_middle__block_two
			.slider_middle__basic.slider_middle__slide_a.slide_three
				.slider_par 
					a(href="#") 
						img(src="../../../static/img/logos/cli3.png", alt="").slider_par__picture
				.slider_par 
					a(href="#") 
						img(src="../../../static/img/logos/cli4.png", alt="").slider_par__picture
				.slider_par 
					a(href="#") 
						img(src="../../../static/img/logos/cli3.png", alt="").slider_par__picture
			.slider_middle__basic.slider_middle__slide_b.slide_foure
				.slider_par 
					a(href="#") 
						img(src="../../../static/img/logos/cli4.png", alt="").slider_par__picture
				.slider_par 
					a(href="#") 
						img(src="../../../static/img/logos/cli3.png", alt="").slider_par__picture
				.slider_par 
					a(href="#") 
						img(src="../../../static/img/logos/cli2.png", alt="").slider_par__picture
		.slider_middle__block_three
			.slider_middle__basic.slider_middle__slide_a.slide_five
				.slider_par 
					a(href="#") 
						img(src="../../../static/img/logos/cli5.png", alt="").slider_par__picture
				.slider_par 
					a(href="#") 
						img(src="../../../static/img/logos/cli2.png", alt="").slider_par__picture
				.slider_par 
					a(href="#") 
						img(src="../../../static/img/logos/cli1.png", alt="").slider_par__picture
