section.cooperating_wrap_text.cooperating_text.max_width
	.cooperating_text__left.cooperating_text__bar.cooperating_left
		p.cooperating_text__text.cooperating_text__text_bold С 20 по 22 марта в Санкт-Петербурге на одной площадке прошли Петербургская техническая ярмарка и выставка «Высокие технологии. Инновации. Инвестиции» (HI-TECH).
		.cooperating_text__number.cooperating_number
			.cooperating_number__number 20
			p.cooperating_text__text.cooperating_text__text_bold.cooperating_number__text надежных поставщиков
	.cooperating_text__right.cooperating_text__bar
		p.cooperating_text__text.w-w Особенностью ПТЯ является совместное проведение с первой в России инновационной выставкой «Высокие технологии. Инновации. Инвестиции (HI-TECH)», что способствует эффективному взаимодействию научных организаций, потенциальных инвесторов и производственников, развитию отечественного наукоемкого производства и привлечению внимания к конкурентоспособным отечественным 
		p.cooperating_text__text.w-w научным разработкам. Этот многолетний тандем доказал свою эффективность и результативность. Всем участникам выставок ПТЯ и HI-TECH была предоставлена возможность принять участие в конкурсе «Лучший инновационный проект и лучшая научно-техническая разработка года», проходящем в рамках выставки «Высокие технологии. Инновации. Инвестиции» с 1998 года.
