section.cooperating_slider_head
	p.cooperating_slider_head__title Документы
	.cooperating_slider.slider_head.owl-carousel
		.slider_head_item 
			p.slider_head_item__title.slider_head_item__text Документ №1.
			p.slider_head_item__text  Условия сотрудничества для производетелей школьной мебели и товаров для школ
			a(href="#").slider_head_item__link
		.slider_head_item 
			p.slider_head_item__title.slider_head_item__text Документ №1.
			p.slider_head_item__text Условия сотрудничества
			a(href="#").slider_head_item__link
		.slider_head_item 
			p.slider_head_item__title.slider_head_item__text Документ №1.
			p.slider_head_item__text  Условия сотрудничества
			a(href="#").slider_head_item__link
		.slider_head_item 
			p.slider_head_item__title.slider_head_item__text Документ №1.
			p.slider_head_item__text  Условия сотрудничества
			a(href="#").slider_head_item__link
		.slider_head_item 
			p.slider_head_item__title.slider_head_item__text Документ №1.
			p.slider_head_item__text Условия сотрудничества
			a(href="#").slider_head_item__link