footer.footer.max_width
	.footer__top
		a(href="/").footer__logo
			img(src="static/img/logos/logo.svg", width="166", alt="").logo__img.footer__image
		form(action="").footer__sub
			input(type="text", placeholder="E-mail").footer__input1
			button.footer__btn.bold Подписаться
				.hover_bl
		form(action="").footer__search
			input(type="text", placeholder="Поиск по сайту").footer__input2.bold
	.footer__bot
		.footer__left
			p.footer__text © Виртуальная выставка, 2018
			a(href="#").footer__text Пользовательское соглашение
			p.footer__dev.footer__text Разработано
				a(href="https://catzwolf.ru/", target="blank").footer__link_out
					img(src="static/img/logos/dev.svg", alt="")
		ul.footer__list_left.footer__list
			li
				a(href="/shop.html") Каталог
			li
				a(href="/lab.html") Готовые лаборатории
			li
				a(href="#") Конфигуратор
			li
				a(href="#") Производители
		ul.footer__list_right.footer__list
			li
				a(href="/about.html") О проекте
			li
				a(href="#") Сотрудничество
			li
				a(href="/news.html") Новости
			li
				a(href="#") Контакты
		.footer__right
			a(href="tel:#").footer__text.bold +7 123 456-78-90
			a(href="#").footer__cons.bold.btn_w_arr Вызвать консультанта
			p.footer__text Наш адрес:
			p.footer__text Москва, ул. Лесная, д. 13, стр. 1



