section.grid2.max_width
	h3.grid2__title.title Рабочее место
		br
		| логопеда
	.grid2__left
		.grid2__img3.zoomImgWr
			img(src="static/img/pictures/image5.jpg", alt="").grid2__img.zoomImg
			div.player
			a(href="#", data-video="KBoBIrqwf8o").grid2__btn.imgZoom.videoZoom
				span.grid2__icon2.btn_w_arr
					span.grid2__icon2_triangle
					.hover_bl
		p.grid2__text3.grid2__text Занятия с обучающимися проводятся как индивидуально, так и в группе. Основной формой являются групповые занятия. Занятия с обучающимися в логопедическом пункте проводятся во внеурочное время с учетом режима работы общеобразовательного учреждения.
		p.grid2__text4.grid2__text Занятия с обучающимися проводятся как индивидуально, так и в группе. Основной формой являются групповые занятия. 
	.grid2__right
		.grid2__img1.zoomImgWr
			img(src="static/img/pictures/image6.jpg", alt="").grid2__img.zoomImg
			a(href="#").grid2__btn.imgZoom
				span.grid2__icon1
		p.grid2__text1 Логопед занимается коррекцией нарушений в развитии устной и письменной речи
		div.grid2__text2
			h7.grid2__low_title.bold Составляющие
			ul.grid2__list
				li.grid2__list_item Стеллаж
				li.grid2__list_item Рабочий стол
				li.grid2__list_item Стул на колесиках
				li.grid2__list_item Полка настенная
		.grid2__img2.zoomImgWr
			img(src="static/img/pictures/image7.jpg", alt="").grid2__img.zoomImg
			a(href="#").grid2__btn.imgZoom
				span.grid2__icon1
