.have_quastion.max_width
    h2.have_quastion__title Есть вопросы? Проконсультируем
    form(action="")
        .have_quastion__field_input
            input(type="text", placeholder="Ваше имя").have_quastion__input
            input(type="tel", placeholder="Телефон").have_quastion__input
            input(type="number", placeholder="Время для звонка").have_quastion__input
        .have_quastion__field_send
            button.have_quastion__btn.bold Отправить заявку
            p.have_quastion__consalt_free Консультация бесплатно
        