section.have_question.max_width
    h2.have_question__title Есть вопросы? Проконсультируем
    form(action="")
        .have_question__field_input
            label(for="").have_question__input.input_decore_label
                input(type="text", placeholder="").input_decore
                span.label_text Ваше имя
                span.border
                span.danger_text Неверное имя
            label(for="").have_question__input.input_decore_label
                input(type="tel", placeholder="").input_decore.have_question__input_base
                span.label_text Телефон
                span.border
                span.danger_text Неверный номер телефона
            label(for="").have_question__input.input_decore_label.have_question__select_wrap
                //- input(type="text", placeholder="").input_decore
                //- span.label_text Время для звонка
                //- span.border
                select#time(name="").have_question__select
                    option(value="default" disabled selected) Время для звонка
                    option(value="8-12") утро 8:00 - 12:00
                    option(value="12-15") день 12:00 - 15:00
                    option(value="16-20") вечер 16:00 - 20:00

            .have_question__secect_style.select__wr.have_question__input
                ul.select
                    li
                        input(type="radio" name="awesomeness").select__close#awesomeness-close
                        span.select__label.select__label_placeholder Время для звонка

                    li.select__items
                        input(type="radio" name="awesomeness").select__expand#awesomeness-opener
                        label(for="awesomeness-close").select__closeLabel

                        ul.select__options
                            li.select__option
                                input(type="radio" name="awesomeness" value="8-12").select__input#sel1
                                label(for="sel1").select__label утро 8:00 - 12:00
                            li.select__option
                                input(type="radio" name="awesomeness" value="12-15").select__input#sel2
                                label(for="sel2").select__label день 12:00 - 15:00
                            li.select__option
                                input(type="radio" name="awesomeness" value="16-20").select__input#sel3
                                label(for="sel3").select__label вечер 16:00 - 20:00
                        label(for="awesomeness-opener").select__expandLabel
        .have_question__field_send
            button.have_question__btn.bold Отправить заявку
                .hover_bl
            p.have_question__consalt_free Консультация бесплатно
