.have_question.max_width
    h2.have_question__title Есть вопросы? Проконсультируем
    form(action="")
        .have_question__field_input
            input(type="text", placeholder="Ваше имя").have_question__input
            input(type="tel", placeholder="Телефон").have_question__input
            input(type="number", placeholder="Время для звонка").have_question__input
        .have_question__field_send
            button.have_question__btn.bold Отправить заявку
            p.have_question__consalt_free Консультация
                br
                | бесплатно
        