.loaderArea
	.loaderArea__loader
header.header.max_width.AXC
	.header__slide
		.catalog__wr.catalog_wr.header__catalog
			a(href="#").catalog_wr__item.catalog_wr__item-header
				h7.catalog_wr__title.title Для детских садов
				.catalog_wr__text Оборудование и лаборатории для обучения детей дошкольного и младшего школьного возраста
				span.catalog_wr__icon
					img(src="static/img/icons/yell-arr.svg", alt="").catalog_wr__arrow.AC
					img(src="static/img/icons/white-arr.svg", alt="").catalog_wr__arrow.AC.hov_off
				img(src="static/img/icons/cat-icon-1.svg", alt="").catalog_wr__image
			a(href="#").catalog_wr__item.catalog_wr__item-header
				h7.catalog_wr__title.title Для школ
				.catalog_wr__text Оборудование и лаборатории для обучения детей дошкольного и младшего школьного возраста
				span.catalog_wr__icon
					img(src="static/img/icons/gr-arr.svg", alt="").catalog_wr__arrow.AC
					img(src="static/img/icons/white-arr.svg", alt="").catalog_wr__arrow.AC.hov_off
				img(src="static/img/icons/cat-icon-2.svg", alt="").catalog_wr__image
			a(href="#").catalog_wr__item.catalog_wr__item-header
				h7.catalog_wr__title.title Для ВУЗов
				.catalog_wr__text Оборудование и лаборатории для обучения детей дошкольного и младшего школьного возраста
				span.catalog_wr__icon
					img(src="static/img/icons/blue-arr.svg", alt="").catalog_wr__arrow.AC
					img(src="static/img/icons/white-arr.svg", alt="").catalog_wr__arrow.AC.hov_off
				img(src="static/img/icons/cat-icon-3.svg", alt="").catalog_wr__image
			a(href="#").catalog_wr__item.catalog_wr__item-header
				h7.catalog_wr__title.title Доп. образование
				.catalog_wr__text Оборудование и лаборатории для обучения детей дошкольного и младшего школьного возраста
				span.catalog_wr__icon
					img(src="static/img/icons/viol-arr.svg", alt="").catalog_wr__arrow.AC
					img(src="static/img/icons/white-arr.svg", alt="").catalog_wr__arrow.AC.hov_off
				img(src="static/img/icons/cat-icon-4.svg", alt="").catalog_wr__image
		.header__tablet
			ul.header__list1.header__list.bold
				li.mob
					a(href="/shop.html").nav_top__first_link каталог
				li.mob
					a(href="/lab.html") Готовые решения
				li
					a(href="/provider.html") производители
				li
					a(href="/conf.html") Конфигуратор оборудования
			ul.header__list2.header__list
				li
					a(href="/about.html") О проекте
				li
					a(href="/cooperation.html") Сотрудничество
				li
					a(href="/news.html") Новости
				li
					a(href="/contacts.html") Контакты
			form(action="").footer__search.header__search_form
				input(type="text", placeholder="Поиск по сайту").footer__input2.bold
		.header__bottom
			.header__list
				a(href="tel:#").bold +7 123 456-78-90
			.header__list
				a(href="#", data-pop_up=".pop_up_consult").btn_w_arr.bold.header__consult.popUpCall Вызвать консультанта
	a.header__logo.logo(href="/")
		img(src="static/img/logos/logo.svg", width="166", alt="").logo__img
		img(src="static/img/logos/logo-mob.svg", width="200", alt="").logo__img.mob.logo__img-mob
	nav.header__nav.nav_top
		
		ul.nav_top__wr
			li.nav_top__link
				a(href="/provider.html") производители
			a(href="/shop.html").nav_top__first_link каталог
			li.nav_top__link
				a(href="/lab.html") Готовые решения
			li.nav_top__link
				a(href="/conf.html") Конфигуратор оборудования
		.nav_top__btn_wr
			a(href="tel:+7 (123) 456-78-90").nav_top__number +7 (123) 456-78-90
			a(href="#", data-pop_up=".pop_up_consult").rnd_btn.nav_top__btn.popUpCall Вызвать консультанта
		a(href="/search.html").header__search
			img.header__search_icon(src="static/img/icons/search.svg", alt="")
			img.header__search_icon_hov(src="static/img/icons/search-hov.svg", alt="")
		.nav_top__mob_menu.mob.trs.nav_mob
			ul.nav_top__wr.nav_top__wr-mob
				li.nav_top__link
					a(href="/shop.html").nav_top__first_link каталог
				li.nav_top__link
					a(href="/lab.html") Готовые решения
				li.nav_top__link
					a(href="/provider.html") производители
				li.nav_top__link
					a(href="/conf.html") Конфигуратор оборудования
			ul.nav_top__mob_nav_footer.nav_mob__list_mid
				li.nav_mob__link
					a(href="/about.html") О проекте
				li.nav_mob__link
					a(href="/cooperation.html") Сотрудничество
				li.nav_mob__link
					a(href="/news.html") Новости
				li.nav_mob__link
					a(href="/contacts.html") Контакты
			.nav_mob__call_wr



		a(href="#").header__toggle.desktop_small.hamburger
			.hover_bl
			.hamburger-box
				.hamburger-inner