section.max_width.lab_text
	.lab_text__wr
		.lab_text__column.lab_text__column-left
			p.lab_text__text Цифровая лаборатория по физике представляет собой набор элементов и датчиков, на базе которых поочередно собираются установки для выполнения работ по изучению законов механики, молекулярной физики, электричества, оптики и атомной физики.
			p.lab_text__text Измерение физических величин осуществляется с помощью цифровых датчиков, которые подключаются к USB-порту компьютера.
		.lab_text__column.lab_text__column-right
			p.lab_text__text Питание электрических цепей постоянным током осуществляется от USB-порта компьютера с помощью специального переходника с защитным резистором.
			p.lab_text__text Питание электрических цепей переменным током осуществляется от аудиовыхода компьютера с помощью специального переходника с защитным резистором.
	//- img(src="static/img/pictures/image9.jpg", alt="").lab_text__img
	.lab_text__img.zoomImgWr
		img(src="static/img/pictures/image9.jpg", alt="").grid2__img.zoomImg
		a(href="#").grid2__btn.imgZoom
			span.grid2__icon2.btn_w_arr
				span.grid2__icon2_triangle
				.hover_bl
