section.main_slider.slider_T2
	.main_slider__right.owl-carousel
		img(src="static/img/pictures/bg.png", alt="").main_slider__image
		img(src="static/img/pictures/bg.png", alt="").main_slider__image
		img(src="static/img/pictures/bg.png", alt="").main_slider__image
		img(src="static/img/pictures/bg.png", alt="").main_slider__image
	.main_slider__left
		a(href="#").main_slider__btn.btn_w_arr Подробнее
			.hover_bl
	.max_width
		.main_slider__counter.bold
			span.main_slider__curr_numb
			.main_slider__progr_bar
				span.main_slider__progr
			span.main_slider__comm_numb
		h1.main_slider__title.title Наглядное обучение для детского сада
		p.main_slider__desc Новинки
		a(href="#").main_slider__btn.btn_w_arr.main_slider__btn-tabl Подробнее