section.main_slider
	.main_slider__right.owl-carousel
		img(src="static/img/pictures/bg3.jpg", alt="").main_slider__image
		img(src="static/img/pictures/bg.jpg", alt="").main_slider__image
		img(src="static/img/pictures/bg2.jpg", alt="").main_slider__image
	.main_slider__left
		a(href="#").main_slider__btn.btn_w_arr Подробнее
	.max_width
		.main_slider__counter 02 / 04
		h1.main_slider__title.title Наглядное обучение для детского сада
		p.main_slider__desc Новинки
		a(href="#").main_slider__btn.btn_w_arr.main_slider__btn-tabl Подробнее