section.main_slider.slider_T2
	.main_slider__right.owl-carousel
		img(src="static/img/pictures/bg.png", alt="", data-color="violet" data-title="Наглядное обучение для детского сада", data-src="/lab.html", data-cat="Новинки", data-price="320 000 ₽").main_slider__image
		img(src="static/img/pictures/bg.png", alt="", data-color="violet", data-title="Какое-то другое обучение для", data-src="/conf.html", data-cat="не новинки").main_slider__image
		img(src="static/img/pictures/bg.png", alt="", data-color="cream", data-title="обучение оьуч фывфы фыв", data-src="/conf.html", data-cat="что-то").main_slider__image
		img(src="static/img/pictures/bg.png", alt="", data-color="green", data-title="Какое-то другое обучение для", data-src="/conf.html", data-cat="не новинки").main_slider__image
		img(src="static/img/pictures/bg.png", alt="", data-color="grey", data-title="да тут другой текст что бы ", data-src="/conf.html", data-cat="не новки", data-price="320 000 ₽").main_slider__image
		img(src="static/img/pictures/bg.png", alt="", data-title="Какое-то другое обучение для", data-src="/conf.html", data-cat="не новинки").main_slider__image
		img(src="static/img/pictures/bg.png", alt="", data-title="Какое-то другое обучение для", data-src="/conf.html", data-cat="не новинки").main_slider__image
		img(src="static/img/pictures/bg.png", alt="", data-title="Какое-то другое обучение для", data-src="/conf.html", data-cat="не новинки").main_slider__image
		img(src="static/img/pictures/bg.png", alt="", data-title="Какое-то другое обучение для", data-src="/conf.html", data-cat="не новинки").main_slider__image
		img(src="static/img/pictures/bg.png", alt="", data-title="Какое-то другое обучение для", data-src="/conf.html", data-cat="не новинки").main_slider__image
		img(src="static/img/pictures/bg.png", alt="", data-title="Какое-то другое обучение для", data-src="/conf.html", data-cat="не новинки").main_slider__image
	.main_slider__left
		a(href="#").main_slider__btn.btn_w_arr Подробнее
			.hover_bl
	.max_width
		.main_slider__counter.bold
			span.main_slider__curr_numb
			.main_slider__progr_bar
				span.main_slider__progr
			span.main_slider__comm_numb
		h1.main_slider__title.title Наглядное обучение для детского сада
		p.main_slider__desc Новинки
		p.comp_title__bold.bold.main_slider__price 320 000 ₽
		a(href="#").main_slider__btn.btn_w_arr.main_slider__btn-tabl Подробнее