section.news.max_width
	h3.section_title.title.news__title Новости
	.relative_wr
		.news__slider.owl-carousel.slider_T1
			a(href="#").news__item.news__item-big
				img(src="static/img/pictures/bg.jpg", alt="").news__image.news__image-big
				p.news__date 13/12/2018
				h7.news__desc Kаборатория Современных телекоммуникационных технологий
				p.news__text В Уральском федеральном государственном университете открылась лаборатория Современных телекоммуникаций на базе решений Keysight Technologies
			a(href="#").news__item.news__item-small
				img(src="static/img/pictures/image14.jpg", alt="").news__image.news__image-small
				p.news__date 13/12/2018
				h7.news__desc Kаборатория Современных телекоммуникационных технологий
				p.news__text В Уральском федеральном государственном университете открылась лаборатория Современных телекоммуникаций на базе решений Keysight Technologies
			a(href="#").news__item.news__item-big
				img(src="static/img/pictures/image15.jpg", alt="").news__image.news__image-big
				p.news__date 13/12/2018
				h7.news__desc Kаборатория Современных телекоммуникационных технологий
				p.news__text В Уральском федеральном государственном университете открылась лаборатория Современных телекоммуникаций на базе решений Keysight Technologies
			a(href="#").news__item.news__item-small
				img(src="static/img/pictures/image16.jpg", alt="").news__image.news__image-small
				p.news__date 13/12/2018
				h7.news__desc Kаборатория Современных телекоммуникационных технологий
				p.news__text В Уральском федеральном государственном университете открылась лаборатория Современных телекоммуникаций на базе решений Keysight Technologies
		a(href="/news.html").news__btn.btn_w_arr Все новости
			.hover_bl