section.news.news_item_page.max_width.news_more
	.relative_wr
		.news__wrap.news_item_page__wrap
			.news_item_page__bg
			a(href="/news_item.html").news__not_slide.news__item.news__item-small.news_item_page__item
				img(src="static/img/pictures/bg.jpg", alt="").news__image.news__image-small.news_item_page__image-small
				p.news__date 13/12/2018
				h7.news__desc.news_item_page__desc Итоги «Петербургской технической ярмарки 2018»
				p.news__text.news_item_page__text В Петербурге прошло ведущее промышленное мероприятие Северо-Запада «Петербургская  техническая ярмарка 2018»
			a(href="/news_item.html").news__not_slide.news__item.news__item-big.news_item_page__item
				img(src="static/img/pictures/bg.jpg", alt="").news__image.news__image-big
				p.news__date 13/12/2018
				h7.news__desc.news_item_page__desc Kаборатория Современных телекоммуникационных технологий
				p.news__text.news_item_page__text В Уральском федеральном государственном университете открылась лаборатория Современных телекоммуникаций на базе решений Keysight Technologies
		h3.news_item_page__title.title Ещё новости