section.news_item
	.max_width
		.text_wr.news_item__text_wr
			p.bold.news_item__text.news_item__bold С 20 по 22 марта в Санкт-Петербурге на одной площадке прошли Петербургская техническая ярмарка и выставка «Высокие технологии. Инновации. Инвестиции» (HI-TECH). Эти мероприятия уже давно стали традиционным местом встречи ведущих российских и зарубежных промышленных и научных предприятий.
			p.news_item__text Особенностью ПТЯ является совместное проведение с первой в России инновационной выставкой «Высокие технологии. Инновации. Инвестиции (HI-TECH)», что способствует эффективному взаимодействию научных организаций, потенциальных инвесторов и производственников, развитию отечественного наукоемкого производства и привлечению внимания к конкурентоспособным отечественным 
			p.news_item__text научным разработкам. Этот многолетний тандем доказал свою эффективность и результативность. Всем участникам выставок ПТЯ и HI-TECH была предоставлена возможность принять участие в конкурсе «Лучший инновационный проект и лучшая научно-техническая разработка года», проходящем в рамках выставки «Высокие технологии. Инновации. Инвестиции» с 1998 года.

	.image_wr.news_item__image_wr
		img(src="static/img/pictures/bg2.jpg", alt="").news_item__image
		.image_wr__text_wr
			p.image_wr__text Петербургская техническая ярмарка — это комплексное мероприятие, которое даёт полное представление о состоянии и перспективах развития российской 

	.max_width
		.text_wr.news_item__text_wr
			p.news_item__text Выставочная программа Ярмарки была сформирована исходя из требований рынка —экспозиция представила собой актуальный срез ключевых отраслей промышленности. Так, в состав ПТЯ − 2018 вошли следующие разделы: «Обработка металлов. Машиностроение», «Металлургия. Литейное дело», «Крепёж. Метизы. Инструмент», «Пластмассы. Полимеры. РТИ», «Подъемно-транспортное оборудование», «Автоматизация промышленных предприятий». 
			p.news_item__text Традиционно, совместно с ПТЯ и HI-TECH, прошел XII Петербургский Партнериат малого и среднего бизнеса «Санкт-Петербург — регионы России и зарубежья» — ежегодное деловое событие, одно из крупнейших конгрессно-выставочных мероприятий Санкт-Петербурга в области развития экономического сотрудничества и межрегиональных связей.
			div.news_item__text.news_item__list
				h7.news_item__list_title.bold Программа Ярмарки 
				ul
					li.news_item__list_item Обработка металлов
					li.news_item__list_item Машиностроение
					li.news_item__list_item Металлургия. Литейное дело
					li.news_item__list_item Крепёж. Метизы. Инструмент
			p.news_item__text В этом году в мероприятиях ПТЯ, HI-TECH и Партнериата приняли участие более 275 компаний из 11 стран, в числе которых Германия, Чехия, Турция, Индия, Республика Беларусь, Китай, Латвия, Италия, Эстония, Финляндия, Украина и 20 регионов России. Традиционно выставки ПТЯ и HI-TECH -  являются площадкой для представления на суд специалистам новейших разработок от медицины и биотехнологий до разработок для космоса и получения обратной связи от инвесторов и покупателей. (С более подробной информацией о продукции, представленной на стендах, можно будет ознакомиться в информационном дайджесте, который будет опубликован на сайте http://ptfair.ru) 