.pop_up

	.pop_up__bg

	.pop_up_consult.pop_up__wr

		h6.pop_up__title.title Есть вопросы? Проконсультируем

		form(action="").pop_up__content
			label(for="").pop_up__input.input_decore_label
				input(type="text", placeholder="").input_decore.pop_up__input_padd
				span.label_text.pop_up__label_text Ваше имя
				span.border
				span.danger_text Неверное имя
			label(for="").pop_up__input.input_decore_label
				input(type="text", placeholder="").input_decore.pop_up__input_padd
				span.label_text.pop_up__label_text Телефон
				span.border
				span.danger_text Неверный номер телефона
			select#time(name="").pop_up__select.pop_up__input
				option(value="default" disabled selected) Время для звонка
				option(value="1") 12:00
				option(value="1") 14:00
				option(value="1") 16:00
			button.pop_up__content_btn.btn_w_arr.pop_up__btn Отправить заявку
				.hover_bl
			p.pop_up__text Консультация бесплатно

		a(href="").pop_up__toggle.cross
			span.cross_one.cross_lane
			span.cross_two.cross_lane

	.pop_up_equipment.pop_up__wr

		h6.pop_up__title.title Заявка на подбор оборудования

		form(action="").pop_up__content
			label(for="").pop_up__input.input_decore_label
				input(type="text", placeholder="").input_decore.pop_up__input_padd
				span.label_text.pop_up__label_text Ваше имя
				span.border
				span.danger_text Неверное имя
			label(for="").pop_up__input.input_decore_label
				input(type="text", placeholder="").input_decore.pop_up__input_padd
				span.label_text.pop_up__label_text E-mail
				span.border
				span.danger_text E-mail
			label(for="").pop_up__input.input_decore_label
				input(type="text", placeholder="").input_decore.pop_up__input_padd
				span.label_text.pop_up__label_text Телефон
				span.border
				span.danger_text Неверный номер телефона

			select#time(name="").pop_up__select.pop_up__input
				option(value="default" disabled selected) Время для звонка
				option(value="1") 12:00
				option(value="1") 14:00
				option(value="1") 16:00
			label(for="").pop_up__input.pop_up__txt_area.input_decore_label
				textarea(placeholder="").pop_up__input_padd.input_decore
				span.label_text.pop_up__label_text Ваш комментарий
				span.border
				span.danger_text Ваш комментарий
			button.pop_up__content_btn.btn_w_arr.pop_up__btn Отправить заявку
				.hover_bl
			p.pop_up__text Консультация бесплатно

		a(href="").pop_up__toggle.cross
			span.cross_one.cross_lane
			span.cross_two.cross_lane


	.pop_up__wr.pop_up__browser
		h6.pop_up__title.title.pop_up__browser_title Ограниченный функционал
		p.pop_up__browser_text Полная версия сайта доступна при использовании следующих версий браузеров
		form(action="").pop_up__content
			button.pop_up__content_btn.btn_w_arr.pop_up__btn Продолжить
				.hover_bl
		a(href="").pop_up__toggle.cross
			span.cross_one.cross_lane
			span.cross_two.cross_lane


	.pop_up__wr.pop_up__items.items_pop_up
		.items_pop_up__left_bar.items_pop_up__side
			.items_pop_up__wrap_img
			.slider_middle__nav.items_pop_up__nav
				a(href="#").slider_middle_prev.items_pop_up__nav_prev.items_pop_up__nav_contr
				a(href="#").slider_middle_next.items_pop_up__nav_next.items_pop_up__nav_contr
		.items_pop_up__right_bar.items_pop_up__side
			h6.pop_up__title.title.pop_up__browser_title.items_pop_up__title Стул ученический
			p.pop_up__browser_text.items_pop_up__txt Логопед занимается коррекция нарушений в развитии устной и письменной речи обучающихся; своевременное предупреждение и преодоление трудностей в освоении обучающимися общеобразовательных программ; разъяснение специальных знаний по логопедии среди педагогов, родителей (законных представителей)
			p.items_pop_up__price 320 000 ₽
			a(href="#").main_slider__btn.btn_w_arr.simple_title_cooperating__more.items_pop_up__btn.my_add_item Добавить
				.hover_bl.simple_title_cooperating__bl
			a(href="").pop_up__toggle.cross
				span.cross_one.cross_lane
				span.cross_two.cross_lane