section.provider

	.simple_title_wr.simple_title_cooperating.provider__head
		.lanes.error__line
			.lanes__vert.vert_lane
			.lanes__vert.vert_lane
			.lanes__vert.vert_lane
			.lanes__vert.vert_lane
			.lanes__vert.vert_lane
		//- img(src="../../../static/img/pictures/cooperation.jpg", alt="")
		h1.simple_title_wr__title.title.max_width.simple_title_cooperating.simple_title_cooperating__title.provider__title Производители

		.wrap_filter.max_width.provider__wrap_filter
			.provider__drop
				.shop_filters__block.conf_wr__block.shop_filters__block_wrap.provider__block_filter
					a(href="#").bold.css_arr.closed.conf_wr__cat.provider__drop_name Выберите регион


				.conf_wr_filters__cat_wr.shop_filters__cat_wr.closed.provider__drop_toogle
					//- .provider__drop_item__title Алтайский край
					
					.conf_wr__wrap_slider.conf_wr__wrap_slider_mob.ps.ps--active-y.closed.provider__drop_wr
						.config__owl.owl-carousel.slider_T1.config__owl_mobiles.provider__drop_bg
							.provider__drop_item Алтайский край1
							.provider__drop_item Алтайский край2
							.provider__drop_item Алтайский край3
							.provider__drop_item Алтайский край4
							.provider__drop_item Алтайский край5
							.provider__drop_item Алтайский край5
							.provider__drop_item Алтайский край5
							.provider__drop_item Алтайский край5
							.provider__drop_item Алтайский край5
		


section.provider.max_width
	.provider__wrap_item
		a(href="#").provider__item
			img(src="../../../static/img/logos/sup1.png", alt="")
		a(href="#").provider__item
			img(src="../../../static/img/logos/sup3.png", alt="")
		a(href="#").provider__item
			img(src="../../../static/img/logos/sup1.png", alt="")
		a(href="#").provider__item
			img(src="../../../static/img/logos/sup4.png", alt="")
		a(href="#").provider__item
			img(src="../../../static/img/logos/sup1.png", alt="")
		a(href="#").provider__item
			img(src="../../../static/img/logos/sup2.png", alt="")
		a(href="#").provider__item
			img(src="../../../static/img/logos/sup1.png", alt="")
		a(href="#").provider__item
			img(src="../../../static/img/logos/sup5.png", alt="")
		a(href="#").provider__item
			img(src="../../../static/img/logos/sup2.png", alt="")
		a(href="#").provider__item
			img(src="../../../static/img/logos/sup6.png", alt="")
		a(href="#").provider__item
			img(src="../../../static/img/logos/sup7.png", alt="")
		a(href="#").provider__item
			img(src="../../../static/img/logos/sup2.png", alt="")
		a(href="#").provider__item
			img(src="../../../static/img/logos/sup1.png", alt="")
		a(href="#").provider__item
			img(src="../../../static/img/logos/sup3.png", alt="")
		a(href="#").provider__item
			img(src="../../../static/img/logos/sup4.png", alt="")
		a(href="#").provider__item
			img(src="../../../static/img/logos/sup7.png", alt="")
	.provider__load_more.load_more
		p.load_more__btn Загрузить еще
