section.provider
	.simple_title_wr.simple_title_cooperating.provider__head
		//- img(src="../../../static/img/pictures/cooperation.jpg", alt="")
		h1.simple_title_wr__title.title.max_width.simple_title_cooperating.simple_title_cooperating__title Поставщики
	
section.provider.max_width
	.provider__wrap_item
		.provider__item
			img(src="../../../static/img/logos/sup1.png", alt="")
		.provider__item
			img(src="../../../static/img/logos/sup3.png", alt="")
		.provider__item
			img(src="../../../static/img/logos/sup1.png", alt="")
		.provider__item
			img(src="../../../static/img/logos/sup4.png", alt="")
		.provider__item
			img(src="../../../static/img/logos/sup1.png", alt="")
		.provider__item
			img(src="../../../static/img/logos/sup2.png", alt="")
		.provider__item
			img(src="../../../static/img/logos/sup1.png", alt="")
		.provider__item
			img(src="../../../static/img/logos/sup5.png", alt="")
		.provider__item
			img(src="../../../static/img/logos/sup2.png", alt="")
		.provider__item
			img(src="../../../static/img/logos/sup6.png", alt="")
		.provider__item
			img(src="../../../static/img/logos/sup7.png", alt="")
		.provider__item
			img(src="../../../static/img/logos/sup2.png", alt="")
		.provider__item
			img(src="../../../static/img/logos/sup1.png", alt="")
		.provider__item
			img(src="../../../static/img/logos/sup3.png", alt="")
		.provider__item
			img(src="../../../static/img/logos/sup4.png", alt="")
		.provider__item
			img(src="../../../static/img/logos/sup7.png", alt="")
	.provider__load_more.load_more
		p.load_more__btn Загрузить еще
