section.simple_slider.max_width.search_section_catalog.search_section
	div.section_title.title.simple_slider__title.search_title
		p Каталог
			sup.search_title_counter 2
	.slider_T1.owl-carousel.search_slider.search_slider_catalog
		a(href="").simple_slider__item.search_slider__item
			img(src="static/img/pictures/image4.jpg", alt="").simple_slider__img
			p.simple_slider__text Рабочее место ученика №1
			p.search_slider__text Измерение физических величин, которые подключаются рабочее место в школе 
			p.simple_slider__price.bold 15 000 ₽
		a(href="").simple_slider__item.search_slider__item.decor-top
			.search_slider__item_decor
				.search_slider__item_decor_left
				.search_slider__item_decor_right
					.search_slider__item_decor_head
					.search_slider__item_decor_middle 
						img(src="../../../static/img/icons/card-top.svg", alt="cards-top").item_decor_img
			p.simple_slider__text Рабочее место ученика №1
			p.search_slider__text Измерение физических величин, которые подключаются рабочее место в школе 
			p.simple_slider__price.bold 15 000 ₽
		a(href="").simple_slider__item.search_slider__item
			img(src="static/img/pictures/image4.jpg", alt="").simple_slider__img
			p.simple_slider__text Рабочее место ученика №1
			p.search_slider__text Измерение физических величин, которые подключаются рабочее место в школе 
			p.simple_slider__price.bold 15 000 ₽
		a(href="").simple_slider__item.search_slider__item.decor-box
			.search_slider__item_decor
				.search_slider__item_decor_left
				.search_slider__item_decor_right
					.search_slider__item_decor_head
					.search_slider__item_decor_middle 
						img(src="../../../static/img/icons/card-box.svg", alt="cards-box").item_decor_img
			p.simple_slider__text Рабочее место ученика №1
			p.search_slider__text Измерение физических величин, которые подключаются рабочее место в школе 
			p.simple_slider__price.bold 15 000 ₽
		a(href="").simple_slider__item.search_slider__item
			img(src="static/img/pictures/image4.jpg", alt="").simple_slider__img
			p.simple_slider__text Рабочее место ученика №1
			p.search_slider__text Измерение физических величин, которые подключаются рабочее место в школе 
			p.simple_slider__price.bold 15 000 ₽
		a(href="").simple_slider__item.search_slider__item
			img(src="static/img/pictures/image4.jpg", alt="").simple_slider__img
			p.simple_slider__text Рабочее место ученика №1
			p.search_slider__text Измерение физических величин, которые подключаются рабочее место в школе 
			p.simple_slider__price.bold 15 000 ₽	
section.simple_slider.max_width.search_section_news.search_section
	div.section_title.title.simple_slider__title.search_title
		p Новости
			sup.search_title_counter 24
	.slider_T1.owl-carousel.search_slider.search.search_slider_news
		a(href="").simple_slider__item.search_slider__item
			img(src="static/img/pictures/image4.jpg", alt="").simple_slider__img
			p.search_slider__text.search_slider__date 13/12/18
			p.simple_slider__text Рабочее место ученика
			p.search_slider__text Измерение физических величин, которые подключаются рабочее место в школе 
		a(href="").simple_slider__item.search_slider__item
			img(src="static/img/pictures/image4.jpg", alt="").simple_slider__img
			p.search_slider__text.search_slider__date 13/12/18
			p.simple_slider__text Рабочее место ученика
			p.search_slider__text Измерение физических величин, которые подключаются рабочее место в школе 
section.simple_slider.max_width.search_section_other.search_section
	div.section_title.title.simple_slider__title.search_title
		p Прочее
			sup.search_title_counter 7
	.slider_T1.owl-carousel.search_slider.search.search_slider_other
		a(href="").simple_slider__item.search_slider__item
			img(src="static/img/pictures/image4.jpg", alt="").simple_slider__img
			p.simple_slider__text Сотрудничество
			p.search_slider__text Измерение физических величин, которые подключаются рабочее место в школе 
		a(href="").simple_slider__item.search_slider__item
			img(src="static/img/pictures/image4.jpg", alt="").simple_slider__img
			p.simple_slider__text Сотрудничество
			p.search_slider__text Измерение физических величин, которые подключаются рабочее место в школе 
		a(href="").simple_slider__item.search_slider__item
			img(src="static/img/pictures/image4.jpg", alt="").simple_slider__img
			p.simple_slider__text Сотрудничество
			p.search_slider__text Измерение физических величин, которые подключаются рабочее место в школе 
