.shop_wrap
	a(href="#").shop_filters__toggle.bold Воспользуйтесь фильтром
		.hover_bl
	section.link_grp
		.max_width.link_grp__wr
			a(href="#").btn_w_arr.link_grp__link Коридоры и рекреации
			a(href="#").btn_w_arr.link_grp__link Входная зона  и гардероб
			a(href="#").btn_w_arr.link_grp__link Спортивный комплекс
			a(href="#").btn_w_arr.link_grp__link Актовый зал
			a(href="#").btn_w_arr.link_grp__link Столовая
			a(href="#").btn_w_arr.link_grp__link Библиотека
			a(href="#").btn_w_arr.link_grp__link Коридоры и рекреации
			a(href="#").btn_w_arr.link_grp__link Входная зона  и гардероб
			a(href="#").btn_w_arr.link_grp__link Спортивный комплекс

	section.shop.max_width
		form(action="").shop_filters
			.shop_filters__mob_wr.owl-carousel
				a(href="#").btn_w_arr.link_grp__link Коридоры и рекреации
				a(href="#").btn_w_arr.link_grp__link Входная зона  и гардероб
				a(href="#").btn_w_arr.link_grp__link Спортивный комплекс
				a(href="#").btn_w_arr.link_grp__link Актовый зал
				a(href="#").btn_w_arr.link_grp__link Столовая
				a(href="#").btn_w_arr.link_grp__link Библиотека
				a(href="#").btn_w_arr.link_grp__link Коридоры и рекреации
				a(href="#").btn_w_arr.link_grp__link Входная зона  и гардероб
				a(href="#").btn_w_arr.link_grp__link Спортивный комплекс
			.shop_filters__top
				a(href="#").shop_filters__caps НОВинКИ
				a(href="#").shop_filters__caps ШКОЛА-НОВОСТРОЙКА
				a(href="#").shop_filters__caps ГОТОВЫЕ КОМПЛЕКТЫ

				.shop_filters__block
					a(href="#").shop_filters__cat.bold.css_arr Цена
					.shop_filters__cat_wr.shop_filters__price_wr
						.shop_filters__price
						input(type="text", placeholder="от 100").shop_filters__price_input.prFilLeft.prFil
						input(type="text", placeholder="до 10 000").shop_filters__price_input.shop_filters__price_input-last.prFilRight.prFil

			.shop_filters__block
				a(href="#").shop_filters__cat.bold.css_arr Уровень
				.shop_filters__cat_wr
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input1
						label(for="input1").label_checkbox Начальная школа
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input2
						label(for="input2").label_checkbox Базовый уровень
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input3
						label(for="input3").label_checkbox Профильный уровень
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input4
						label(for="input4").label_checkbox Подготовка к ЕГЭ
			.shop_filters__block
				a(href="#").shop_filters__cat.bold.css_arr Назначение
				.shop_filters__cat_wr
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input5
						label(for="input5").label_checkbox Цифровые лаборатории
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input6
						label(for="input6").label_checkbox Лабораторные работы
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input7
						label(for="input7").label_checkbox Практикумы
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input8
						label(for="input8").label_checkbox Аттестация
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input9
						label(for="input9").label_checkbox Цифровые датчики
					//- .shop_filters__input_wr
					//- 	input(type="checkbox").checkbox#input10
					//- 	label(for="input10").label_checkbox Проектная работа
					//- .shop_filters__input_wr
					//- 	input(type="checkbox").checkbox#input11
					//- 	label(for="input11").label_checkbox Наборы для демонстрации
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input12
						label(for="input12").label_checkbox Готовые лаборатории
					a(href="#").shop_filters__cat_link.trs Показать ещё +
			.shop_filters__block
				a(href="#").shop_filters__cat.bold.css_arr Уровень
				.shop_filters__cat_wr
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input1
						label(for="input1").label_checkbox Начальная школа
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input2
						label(for="input2").label_checkbox Базовый уровень
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input3
						label(for="input3").label_checkbox Профильный уровень
					.shop_filters__input_wr
						input(type="checkbox").checkbox#input4
						label(for="input4").label_checkbox Подготовка к ЕГЭ

			.shop_filters__wrap
				a(href="#").btn_w_arr.shop_filters__btn.trs Применить
					.hover_bl
				a(href="#").shop_filters__reset.bold.trs Сбросить

		.shop_wr
			.shop__banner.shop_banner
				.shop_banner__left
					.shop_banner__title1.bold 30
						span.shop_banner__title1-low %
					.shop_banner__title2.bold Скидка на мебель для школ 
					.shop_banner__text С 13 августа по 20 сентября
					a(href="#").shop_banner__link
						.hover_bl
				img(src="static/img/pictures/image3.jpg", alt="").shop_banner__img
			.shop_wrapper
				.shop__item.shop__item-big
					a(href="")
						img(src="static/img/pictures/shop2.png", alt="").shop__img.shop__img-big
						p.shop__title.trs Цифровая лаборатория по химии
						p.shop__price.bold.trs 310 600 ₽
					a(href="#").shop__link.trs.btn_w_arr.bold Подробнее
				.shop__item
					a(href="")
						img(src="static/img/pictures/shop1.png", alt="").shop__img
						p.shop__title.trs Цифровая лаборатория по химииЦифровая лаборатория по химии
						p.shop__price.bold.trs 310 600 ₽
					a(href="#").shop__link.trs.btn_w_arr.bold Подробнее
				.shop__item
					a(href="")
						img(src="static/img/pictures/shop3.png", alt="").shop__img
						p.shop__title.trs Цифровая лаборатория по химии
						p.shop__price.bold.trs 310 600 ₽
					a(href="#").shop__link.trs.btn_w_arr.bold Подробнее
				.shop__item
					a(href="")
						img(src="static/img/pictures/shop3.png", alt="").shop__img
						p.shop__title.trs Цифровая лаборатория по химии
						p.shop__price.bold.trs 310 600 ₽
					a(href="#").shop__link.trs.btn_w_arr.bold Подробнее
				.shop__item
					a(href="")
						img(src="static/img/pictures/shop1.png", alt="").shop__img
						p.shop__title.trs Цифровая лаборатория по химии
						p.shop__price.bold.trs 310 600 ₽
					a(href="#").shop__link.trs.btn_w_arr.bold Подробнее
				.shop__item
					a(href="")
						img(src="static/img/pictures/shop1.png", alt="").shop__img
						p.shop__title.trs Цифровая лаборатория по химии
						p.shop__price.bold.trs 310 600 ₽
					a(href="#").shop__link.trs.btn_w_arr.bold Подробнее
				.shop__item
					a(href="")
						img(src="static/img/pictures/shop3.png", alt="").shop__img
						p.shop__title.trs Цифровая лаборатория по химии
						p.shop__price.bold.trs 310 600 ₽
					a(href="#").shop__link.trs.btn_w_arr.bold Подробнее
				.shop__item
					a(href="")
						img(src="static/img/pictures/shop1.png", alt="").shop__img
						p.shop__title.trs Цифровая лаборатория по химии
						p.shop__price.bold.trs 310 600 ₽
					a(href="#").shop__link.trs.btn_w_arr.bold Подробнее
			.shop_bottom
				a(href="#").shop_bottom__prev.shop_bottom__link
				.shop_bottom__links
					a(href="#").shop_bottom__page.shop_bottom__active 1
					a(href="#").shop_bottom__page 2
					a(href="#").shop_bottom__page 3
				a(href="#").shop_bottom__next.shop_bottom__link