section.simple_title_wr.simple_title_wr_2
	.max_width.simple_title_wr__date_wr
		span.simple_title_wr__date 13/12/2018
	h1.simple_title_wr_2__title.simple_title_wr__title.title.max_width Итоги «Петербургской
		br 
		| технической ярмарки 2018»