section.simple_title_wr.simple_title_cooperating
	img(src="../../../static/img/pictures/cooperation.jpg", alt="")
	h1.simple_title_wr__title.title.max_width.simple_title_cooperating.simple_title_cooperating__title Сотрудничество
	a(href="#").main_slider__btn.btn_w_arr.simple_title_cooperating__more Оформить заявку
			.hover_bl.simple_title_cooperating__bl