section.simple_slider.max_width.simple_slider2
	h3.section_title.title.simple_slider__title.simple_slider2__title Также Вас может заинтересовать
	.slider_T1.owl-carousel.labSlider2.simple_slider2__owl
		a(href="").simple_slider__item.simple_slider2__item
			.simple_slider2__img_wr
				img(src="static/img/pictures/image4.jpg", alt="").simple_slider__img.simple_slider2__img
			p.simple_slider__text.simple_slider2__text Рабочее место ученика №1
			p.simple_slider__price.bold 15 000 ₽
		a(href="").simple_slider__item.simple_slider2__item
			.simple_slider2__img_wr
				img(src="static/img/pictures/image4.jpg", alt="").simple_slider__img.simple_slider2__img
			p.simple_slider__text.simple_slider2__text Рабочее место ученика №1
			p.simple_slider__price.bold 15 000 ₽
		a(href="").simple_slider__item.simple_slider2__item
			.simple_slider2__img_wr
				img(src="static/img/pictures/image4.jpg", alt="").simple_slider__img.simple_slider2__img
			p.simple_slider__text.simple_slider2__text Рабочее место ученика №1
			p.simple_slider__price.bold 15 000 ₽