section.simple_title_wr.simple_title_wr_2.simple_title_wr_6
	.lanes
		.lanes__vert.vert_lane
		.lanes__vert.vert_lane
		.lanes__vert.vert_lane
		.lanes__vert.vert_lane
		.lanes__vert.vert_lane
	.max_width.simple_title_wr__date_wr
		span.simple_title_wr__date.simple_title_wr_6__date Производители
	div.max_width.simple_title_wr_6__title_wr
		h1.simple_title_wr_2__title.simple_title_wr_6__title.simple_title_wr__title.title.max_width Новый формат
	.simple_title_wr_6__btn_w
		a(href="#").simple_title_wr_6__btn.simple_title_wr_6__btn_small.btn_w_arr Скачать каталог
		a(href="#").simple_title_wr_6__btn.btn_w_arr Продукция компании
