section.simple_title_wr.simple_title_wr_2.simple_title_wr_4
	.lanes
		.lanes__vert.vert_lane
		.lanes__vert.vert_lane
		.lanes__vert.vert_lane
		.lanes__vert.vert_lane
		.lanes__vert.vert_lane
	.max_width.simple_title_wr__date_wr
		span.simple_title_wr__date Для школы
	h1.simple_title_wr_2__title.simple_title_wr_4__title.simple_title_wr__title.title.max_width Оборудование 
		br
		| для школы
	a(href="#").simple_title_wr_4__btn.btn_w_arr Прайс лист
		.hover_bl
	.max_width.simple_title_wr_4__desc 425 позиций