section.simple_title_wr.simple_title_wr_5
	.max_width.simple_title_wr__date_wr
		span.simple_title_wr__date Конфигуратор оборудования
	.simple_title_wr_5__inp_wr.max_width
		form(action="#")
			input(type="text", placeholder="Ваш новый проект").simple_title_wr_5__inp.bold.list_items
			input(type="text", placeholder="Ваш").simple_title_wr_5__inp.bold.list_size
