.zoomImgWr__popUp
	.zoomImgWr
		div.player
.supplier

	.supplier__manufacturer.manufacturer.max_width
		.manufacturer__picture
			img(src="../../../static/img/logos/sup3.png").manufacturer__img
		.manufacturer__title
			.manufacturer__text Группа компаний «Новый формат» с 2006 года занимается производством и поставками высококачественной мебели для образовательных учреждений. География продаж охватывает территорию от Сахалина до Калининграда. Конструкция мебели сборно-разборная, надежно упакована и пригодна к транспортировке.
	
	section.max_width.lab_text.supplier_preview
		.lab_text__wr.supplier_preview__text_wr
			.lab_text__column.lab_text__column-left.supplier_preview__column
				p.lab_text__text Группа компаний «Новый формат» с 2006 года занимается производством и поставками высококачественной мебели для образовательных учреждений. География продаж охватывает территорию от Сахалина до Калининграда. Конструкция мебели сборно-разборная, надежно упакована и пригодна к транспортировке.
			.lab_text__column.lab_text__column-right.supplier_preview__column
				p.lab_text__text Группа компаний «Новый формат» с 2006 года занимается производством и поставками высококачественной мебели для образовательных учреждений. География продаж охватывает территорию от Сахалина до Калининграда. Конструкция мебели сборно-разборная, надежно упакована и пригодна к транспортировке.
		//- img(src="static/img/pictures/image9.jpg", alt="").lab_text__img
		.lab_text__img.zoomImgWr.supplier_preview__lab_text
			.slider_T1.owl-carousel.supplierSlider
				div.simple_slider__item.supplier_preview__item
					.zoomImgWr
						img(src="static/img/pictures/image9.jpg", alt="" data-video="KBoBIrqwf8o").grid2__img.zoomImg.supplier_preview__img
						a(href="#", data-video="KBoBIrqwf8o").grid2__btn.supplier_preview__btn_zoom.imgZoom_new.imgZoom.videoZoom
							span.grid2__icon2.btn_w_arr
								span.grid2__icon2_triangle
								.hover_bl
				div.simple_slider__item.supplier_preview__item
					.zoomImgWr
						img(src="static/img/pictures/image9.jpg", alt="" data-video="KBoBIrqwf8o").grid2__img.zoomImg.supplier_preview__img
						a(href="#", data-video="KBoBIrqwf8o").grid2__btn.supplier_preview__btn_zoom.imgZoom_new.imgZoom.videoZoom
							span.grid2__icon2.btn_w_arr
								span.grid2__icon2_triangle
								.hover_bl
				div.simple_slider__item.supplier_preview__item
					.zoomImgWr
						img(src="static/img/pictures/image9.jpg", alt="" data-video="KBoBIrqwf8o").grid2__img.zoomImg.supplier_preview__img
						a(href="#", data-video="KBoBIrqwf8o").grid2__btn.supplier_preview__btn_zoom.imgZoom_new.imgZoom.videoZoom
							span.grid2__icon2.btn_w_arr
								span.grid2__icon2_triangle
								.hover_bl
				div.simple_slider__item.supplier_preview__item
					.zoomImgWr
						img(src="static/img/pictures/image9.jpg", alt="" data-video="KBoBIrqwf8o").grid2__img.zoomImg.supplier_preview__img
						a(href="#", data-video="KBoBIrqwf8o").grid2__btn.supplier_preview__btn_zoom.imgZoom_new.imgZoom.videoZoom
							span.grid2__icon2.btn_w_arr
								span.grid2__icon2_triangle
								.hover_bl
	

	.supplier_banner.max_width
		.shop__banner.shop_banner.supplier_banner__wr
			.shop_banner__left.supplier_banner__left
				.shop_banner__title1.bold.supplier_banner__title 30
					span.shop_banner__title1-low.supplier_banner__sall %
				.shop_banner__title2.bold.supplier_banner__descript Скидка на мебель для школ 
				.shop_banner__text.supplier_banner__descript_small С 13 августа по 20 сентября
			.supplier_banner__right
				.supplier_banner__slider.slider_T1.owl-carousel
					div.simple_slider__item.shop_banner__item.supplier_banner__item
						img(src="static/img/pictures/image3.jpg", alt="").shop_banner__img.supplier_banner__img
					div.simple_slider__item.shop_banner__item.supplier_banner__item
						img(src="static/img/pictures/image3.jpg", alt="").shop_banner__img.supplier_banner__img
					div.simple_slider__item.shop_banner__item.supplier_banner__item
						img(src="static/img/pictures/image3.jpg", alt="").shop_banner__img.supplier_banner__img

	.supplier_section.max_width
		.supplier_section__content
			.supplier_section__wr.supplier_section__left
				a(href="/conf.html").supplier_section__btn.btn_w_arr Перейти в конфигуратор
			.supplier_section__wr.supplier_section__right
				.supplier_section__text Спланируйте помещение с помощью программы 
					span онлайн-проектирования.

	.supplier_shop


		.shop_wrap
			a(href="#").shop_filters__toggle.bold.supplier_shop__toggle Воспользуйтесь фильтром
				.hover_bl
			//- section.link_grp
			//- 	.max_width.link_grp__wr
			//- 		a(href="#").btn_w_arr.link_grp__link Коридоры и рекреации
			//- 		a(href="#").btn_w_arr.link_grp__link Входная зона  и гардероб
			//- 		a(href="#").btn_w_arr.link_grp__link Спортивный комплекс
			//- 		a(href="#").btn_w_arr.link_grp__link Актовый зал
			//- 		a(href="#").btn_w_arr.link_grp__link Столовая
			//- 		a(href="#").btn_w_arr.link_grp__link Библиотека
			//- 		a(href="#").btn_w_arr.link_grp__link Коридоры и рекреации
			//- 		a(href="#").btn_w_arr.link_grp__link Входная зона  и гардероб
			//- 		a(href="#").btn_w_arr.link_grp__link Спортивный комплекс

			section.shop.max_width.supplier_shop__shop
				form(action="").shop_filters
					//- .shop_filters__mob_wr.owl-carousel
						//- a(href="#").btn_w_arr.link_grp__link Коридоры и рекреации
						//- a(href="#").btn_w_arr.link_grp__link Входная зона  и гардероб
						//- a(href="#").btn_w_arr.link_grp__link Спортивный комплекс
						//- a(href="#").btn_w_arr.link_grp__link Актовый зал
						//- a(href="#").btn_w_arr.link_grp__link Столовая
						//- a(href="#").btn_w_arr.link_grp__link Библиотека
						//- a(href="#").btn_w_arr.link_grp__link Коридоры и рекреации
						//- a(href="#").btn_w_arr.link_grp__link Входная зона  и гардероб
						//- a(href="#").btn_w_arr.link_grp__link Спортивный комплекс
					.shop_filters__top.supplier_shop__shop_filters_top
						a(href="#").shop_filters__caps НОВинКИ

					.shop_filters__block
						a(href="#").shop_filters__cat.bold.css_arr Типы учебныч заведений
						.shop_filters__cat_wr
							.shop_filters__input_wr
								input(type="checkbox").checkbox#input1
								label(for="input1").label_checkbox Для детскийх садов
							.shop_filters__input_wr
								input(type="checkbox").checkbox#input2
								label(for="input2").label_checkbox Для школ
							.shop_filters__input_wr
								input(type="checkbox").checkbox#input3
								label(for="input3").label_checkbox Для ВУЗов
							.shop_filters__input_wr
								input(type="checkbox").checkbox#input4
								label(for="input4").label_checkbox Доп. Образование
					.shop_filters__block
						a(href="#").shop_filters__cat.bold.css_arr Назначение
						.shop_filters__cat_wr
							.shop_filters__input_wr
								input(type="checkbox").checkbox#input5
								label(for="input5").label_checkbox Мебель
							.shop_filters__input_wr
								input(type="checkbox").checkbox#input6
								label(for="input6").label_checkbox Цифровые лаборатории
							.shop_filters__input_wr
								input(type="checkbox").checkbox#input7
								label(for="input7").label_checkbox Учебное оборудование
							.shop_filters__input_wr
								input(type="checkbox").checkbox#input8
								label(for="input8").label_checkbox Расходные материалы
							.shop_filters__input_wr
								input(type="checkbox").checkbox#input9
								label(for="input9").label_checkbox Инвентарь
							a(href="#").shop_filters__cat_link.trs Показать ещё +

					.shop_filters__wrap
						a(href="#").btn_w_arr.shop_filters__btn.trs Применить
							.hover_bl
						a(href="#").shop_filters__reset.bold.trs Сбросить

				.shop_wr.supplier_shop__shop_wr
					.shop_wrapper.supplier_shop__wrapper
						.shop__item.shop__item-big
							a(href="")
								img(src="static/img/pictures/shop2.png", alt="").shop__img.shop__img-big
								p.shop__title.trs Цифровая лаборатория по химии
								p.shop__price.bold.trs 310 600 ₽
							a(href="#").shop__link.trs.btn_w_arr.bold Подробнее
						.shop__item
							a(href="")
								img(src="static/img/pictures/shop1.png", alt="").shop__img
								p.shop__title.trs Цифровая лаборатория по химииЦифровая лаборатория по химии
								p.shop__price.bold.trs 310 600 ₽
							a(href="#").shop__link.trs.btn_w_arr.bold Подробнее
						.shop__item
							a(href="")
								img(src="static/img/pictures/shop3.png", alt="").shop__img
								p.shop__title.trs Цифровая лаборатория по химии
								p.shop__price.bold.trs 310 600 ₽
							a(href="#").shop__link.trs.btn_w_arr.bold Подробнее
						.shop__item
							a(href="")
								img(src="static/img/pictures/shop3.png", alt="").shop__img
								p.shop__title.trs Цифровая лаборатория по химии
								p.shop__price.bold.trs 310 600 ₽
							a(href="#").shop__link.trs.btn_w_arr.bold Подробнее
						.shop__item
							a(href="")
								img(src="static/img/pictures/shop1.png", alt="").shop__img
								p.shop__title.trs Цифровая лаборатория по химии
								p.shop__price.bold.trs 310 600 ₽
							a(href="#").shop__link.trs.btn_w_arr.bold Подробнее
						.shop__item
							a(href="")
								img(src="static/img/pictures/shop1.png", alt="").shop__img
								p.shop__title.trs Цифровая лаборатория по химии
								p.shop__price.bold.trs 310 600 ₽
							a(href="#").shop__link.trs.btn_w_arr.bold Подробнее
						.shop__item
							a(href="")
								img(src="static/img/pictures/shop3.png", alt="").shop__img
								p.shop__title.trs Цифровая лаборатория по химии
								p.shop__price.bold.trs 310 600 ₽
							a(href="#").shop__link.trs.btn_w_arr.bold Подробнее
						.shop__item
							a(href="")
								img(src="static/img/pictures/shop1.png", alt="").shop__img
								p.shop__title.trs Цифровая лаборатория по химии
								p.shop__price.bold.trs 310 600 ₽
							a(href="#").shop__link.trs.btn_w_arr.bold Подробнее
					.shop_bottom.supplier_shop__bottom
						a(href="#").shop_bottom__prev.shop_bottom__link
						.shop_bottom__links
							a(href="#").shop_bottom__page.shop_bottom__active 1
							a(href="#").shop_bottom__page 2
							a(href="#").shop_bottom__page 3
						a(href="#").shop_bottom__next.shop_bottom__link
