section.grid.supply.max_width
	h3.section_title.title.supply__title Поставщики
	.grid-X4.owl-carousel.supplyOwl.slider_T1
		a(href="").supply__item
			img(src="static/img/logos/sup1.png", alt="").supply__logo
		a(href="").supply__item
			img(src="static/img/logos/sup2.png", alt="").supply__logo
		a(href="").supply__item
			img(src="static/img/logos/sup3.png", alt="").supply__logo
		a(href="").supply__item
			img(src="static/img/logos/sup4.png", alt="").supply__logo
		a(href="").supply__item
			img(src="static/img/logos/sup5.png", alt="").supply__logo
		a(href="").supply__item
			img(src="static/img/logos/sup6.png", alt="").supply__logo
		a(href="").supply__item
			img(src="static/img/logos/sup7.png", alt="").supply__logo
		a(href="").supply__item.btn_w_arr.supply__item-unmob Все поставщики
	a(href="").supply__item.btn_w_arr.supply__item-mob Все поставщики

